@media (max-width: 500px){
    .style-image{
        height: 100px !important;
    }
  
}

.style-image{
    width: 100% !important; 
    height: 400px; 
    margin:0px !important;
    padding:0px !important;
}