
<section id="aa-catg-head-banner">
    <img src="assets/img/Slider 2cade0-2 copie.jpg" alt="fashion img" class="style-image">
</section>

<app-index-bar nom="Cadeaux"></app-index-bar>



<div *ngIf="categories">

<app-page-articles [categories]="categories"> </app-page-articles>


</div>