


   <app-index-bar nom="Profil"></app-index-bar>

<div class="container">
 <div class="row">
   
  <div class="col-md-12" >

    <div *ngIf="isLoading" style="height: 200px;">
      <app-loading></app-loading>
   </div>
  
   <div *ngIf="!isLoading" >

  <div *ngIf="isBoutique" >
  
<form [formGroup]="formB" class="aa-login-form" style="padding:20px;">

  <div class="row">
    <div class="col-md-6">
  
  <label class="font-size-login" for="">Nom</label>
  <input class="font-size-login" type="text" formControlName="nom"  id="exampleInputEmail1">

  <label  class="font-size-login"for="">Prénom</label>
  <input class="font-size-login" type="text" formControlName="prenom"  id="exampleInputEmail1">
  
  <label class="font-size-login" for="">Email<span>*</span></label>
  <input  class="font-size-login" type="text" formControlName="email"  id="exampleInputEmail1">
  
  <label class="font-size-login" for="">Votre actuel mot de passe<span>*</span></label>
  <input class="font-size-login" type="password" formControlName="password"  id="exampleInputEmail1">

 
  
  <label class="font-size-login" for="">Nouveaux Mot de passe</label>
  <input class="font-size-login" type="password" formControlName="newPassword"  id="exampleInputEmail1">
  
  </div>
  <div class="col-md-6">

  <label class="font-size-login" for="">Téléphone</label>
  <input class="font-size-login" type="text" formControlName="telephone"  id="exampleInputEmail1">
    
  <label class="font-size-login" for="">Nº carte d'identité </label>
  <input class="font-size-login" type="text" formControlName="NCarteIdentite"  id="exampleInputEmail1">
  
 
  <label  class="font-size-login" for="">Nom Boutique</label>
  <input  class="font-size-login" type="text" formControlName="nomBoutique"  id="exampleInputEmail1">
  
  <label  class="font-size-login" for="">Adresse Boutique </label>
  <input  class="font-size-login" type="text" formControlName="adressBoutique"  id="exampleInputEmail1">
 
  

  

  <button type="submit" (click)="updateBoutique()"  class="aa-browse-btn" style="margin-bottom: 20px; float:right;">Sauvegarder modifications</button>                    
</div>
</div>
</form>

</div>

<div *ngIf="!isBoutique" >

<form [formGroup]="formC" class="aa-login-form" style="padding:20px;">

<div class="row">
 <div class="col-md-6">
     <label class="font-size-login" for="">Nom</label>
     <input class="font-size-login" type="text" formControlName="nom"  id="exampleInputEmail1">

     <label  class="font-size-login"for="">Prénom</label>
     <input class="font-size-login" type="text" formControlName="prenom"  id="exampleInputEmail1">
     
     <label class="font-size-login" for="">Email<span>*</span></label>
     <input  class="font-size-login" type="text" formControlName="email"  id="exampleInputEmail1">

  
     <label class="font-size-login" for="">Votre actuel mot de passe<span>*</span></label>
     <input class="font-size-login" type="password" formControlName="password"  id="exampleInputEmail1">

    
     <label class="font-size-login" for="">Nouveaux Mot de passe</label>
     <input class="font-size-login" type="password" formControlName="newPassword"  id="exampleInputEmail1">
</div>

<div class="col-md-6">

   <label class="font-size-login" for="">Télephone </label>
   <input class="font-size-login" type="text" formControlName="telephone"  id="exampleInputEmail1">
   
   <label class="font-size-login" for="">Nº carte d'identité </label>
   <input class="font-size-login" type="text" formControlName="NCarteIdentite"  id="exampleInputEmail1">
   
   <label class="font-size-login" for="">Adresse </label>
   <input class="font-size-login" type="text" formControlName="adresse"  id="exampleInputEmail1">

   <label class="font-size-login" for="">Ville <span>*</span></label>
   <input class="font-size-login" type="text" formControlName="ville"  id="exampleInputEmail1">

   <label class="font-size-login" for="">Pays </label>
   <input class="font-size-login" type="text" formControlName="pays"  id="exampleInputEmail1">
  
   <button type="submit" (click)="update()"  class="aa-browse-btn" style="margin-bottom: 20px; float:right;">Sauvegarder modifications</button>                    
</div>
</div>
</form>

</div>
</div>
</div>
</div>
</div>