.style-icon:hover{
    border:black solid 2px;
    background:#ff6666;
    
}

.style-icon{
    padding:2px;
}


.style-icon-2{
   color:black; 
}


@media screen and (max-width: 1000px) {

   
    .width-100{
        width: 100%;
        margin-left: 0px !important;
        margin-right: 0px !important;
        
       
    }

    .width-padding-100{
        width: 100%;
        margin-left: 0px !important;
        margin-right: 0px !important;
        padding-left: 0px !important;
        padding-right: 0px !important;
        
    }

    .max-width-100{
        width: 100%;
        margin-left: 0px !important;
        margin-right: 0px !important;
        max-width: 100%;
       
    }

    .flex-width-100{
        width: 100%;
        margin-left: 0px !important;
        margin-right: 0px !important;
        max-width: 100%;
        flex:0 0 100%;
    }


    .padding-titre{
        padding-top: 10px;
    }

}

.around-style-right{
    border-top-right-radius: 30px 30px;
    border-bottom-right-radius: 30px 30px;
}

.around-style-left{
    border-top-left-radius: 30px 30px;
    border-bottom-left-radius: 30px 30px;
}

.style-Link:hover{
    background:red;
    padding:2px 7px;
    color:white;
    border-top-right-radius: 30px 30px;
    border-bottom-right-radius: 30px 30px;
    border-top-left-radius: 30px 30px;
    border-bottom-left-radius: 30px 30px;

}

.style-Link-li{
  padding-bottom:5px;
}


.class-style:hover{
   
    background-color: red;

}