
  
<footer id="aa-footer" style="font-size: 15px; font-weight: 500;  " >
    <!-- footer bottom -->
    <div class="aa-footer-top" style="background-image: url('assets/img/fouter.png'); background-repeat: no-repeat;
    background-position: center; background-size: cover; ">
     <div class="content">
        <div class="row width-100">
        <div class="col-md-12 width-100">
          <div class="aa-footer-top-area">
            <div class="row width-100">
            
            <div class="col-md-9 flex-width-100">
               
              <div class="container flex-width-100" >
                <div class="row width-100">
            
                <div class="col-md-3 col-sm-6 flex-width-100" style="margin-left: auto; margin-right: auto;">
                <div class="aa-footer-widget" style="text-align: center;">

                  <div class="aa-logo">
                    <!-- img based logo -->
                    <!-- <a href="index.html"><img src="img/logo.jpg" alt="logo img"></a> -->
                  </div>
                 
                  <br> <br>

                  <h3 style="color:white; font-weight: 700; font-size: 20px; ">A propos</h3>
                  
                  <p style="color: white;">Nous souhaitons la bienvenue errahmastore, notre société est spécialisée au tour 
                    de tous vos besoins telle que fournitures 
                    scolaires, bureautique, informatique, prêt à porter, cosmétique et même les cadeaux.
                    
                    Nous somme fonder en 2003...</p>
                </div>
                <a style="float:right;" (click)="goPresentation()" style="color:white; float:right;" >Lire plus</a>
              </div>

              <div class="col-md-3 col-sm-6 flex-width-100" style="margin-left: auto; margin-right: auto;" >
                <div class="aa-footer-widget">
                  <div class="aa-footer-widget padding-titre" style="text-align: center;">
                    <h3 style="color:white; font-weight: 700; font-size: 20px;">Site maps</h3>
             
                    <ul class="aa-footer-nav" style="margin-top: 10px;">

                      <li class="style-Link-li" ><a class="style-Link" href="#" style="color:White;" >Accueil</a></li>
                      <li class="style-Link-li" > <a class="style-Link" (click)="goPresentation()" style="color:White;" >Présentation</a></li>
                    
                      <li class="style-Link-li"><a class="style-Link" style="color:White;" id="Librairie" (click)="goPageArticles($event)"  >Librairie</a> </li>
                      <li class="style-Link-li"><a class="style-Link" style="color:White;" id="Informatique" (click)="goPageArticles($event)" >Informatique</a> </li>
                 
                    </ul>

                    <ul class="aa-footer-nav" style="margin-top: 20px;" >
                        <li class="style-Link-li"><a class="style-Link" style="color:White;" id="Téléphonie" (click)="goPageArticles($event)">Téléphonie</a> </li>
                        <li class="style-Link-li"><a class="style-Link" style="color:White;" id="Cadeaux" (click)="goPageArticles($event)">Cadeaux</a> </li>
                 
                        <li class="style-Link-li"><a class="style-Link" style="color:White;" id="Tissu" (click)="goPageArticles($event)">Tissu</a> </li>
                        <li class="style-Link-li"><a class="style-Link" style="color:White;" id="Mode" (click)="goPageArticles($event)">Mode</a> </li>
                        
                    </ul>
                   
                    <ul class="aa-footer-nav" style="margin-top: 20px;" >

                        <li class="style-Link-li"><a class="style-Link" style="color:White;" id="Maison et Loisir" (click)="goPageArticles($event)">Maison et loisir </a></li>
                        <li class="style-Link-li"><a class="style-Link" style="color:White;" id="Électroménager" (click)="goPageArticles($event)">Électroménager</a> </li>
                        <li class="style-Link-li"><a class="style-Link" style="color:White;" id="Cosmétique" (click)="goPageArticles($event)" >Cosmétique</a> </li>
                        <li class="style-Link-li"><a class="style-Link" style="color:White;"  id="Jouet" (click)="goPageArticles($event)" >Jouet</a></li>
                    
                        <li class="style-Link-li"><a class="style-Link" (click)="goContact()" style="color:White;" >Contact</a></li>
                 
                    </ul>
                 
                  
                  </div>
                </div>
              </div>

              <div class="col-md-3 col-sm-6 flex-width-100" style="margin-left: auto; margin-right: auto;">
                <div class="aa-footer-widget">
                  <div class="aa-footer-widget padding-titre" style="text-align: center;">
                    <h3 style="color:White; font-weight: 700; font-size: 20px;">Contact</h3>
                    
                    <address >
                      <p style="color:White;" ><span class="fa fa-home"></span>  Rue Ennasser route de lycée 5080 Teboulba  monastir-Tunisie</p>
                      <br>
                      <p style="color:White;"><span class="fa fa-phone"></span> G S M : (+216) 25 342 257</p>
                      <p style="color:White;"><span class="fa fa-phone"></span> FIXE : (+216) 73 496 823 </p>
                      <p style="color:White;"><span class="fa fa-phone"></span> FAX : 73 793 783</p>
                      
                      <p style="color:White;"> Service Client</p>
                      <p style="color:White;"><span class="fa fa-phone"></span> (+216) 52 769 348</p>
                      <p style="color:White;"><span class="fa fa-phone"></span> (+216) 95 261 644</p>
                      <br>
                      <p style="color:White;"><span class="fa fa-envelope"></span> Librairierrahma@gmail.com</p>
                      <p style="color:White;"><span class="fa fa-envelope"></span> direction@errahmastores.com</p>
                      <p style="color:White;"><span class="fa fa-envelope"></span> contact@errahmastores.com</p>
                    </address>
                  
                  </div>
                </div>
              </div>

          </div>
          </div>
          </div>

              <div class="col-md-3 flex-width-100">
                <div class="aa-footer-widget">
                  <div class="aa-footer-widget" style="text-align: center;">
                  
                  
                  
                      <div class="row" style="width:100%; margin:0px auto;">
                        <div class="col-md-12">
                          
                      <div class="aa-search-box width-100" style="width: 100%; height: 300px; ">
                        
                        <img  src="assets/img/120120080_782441379224049_3585515769024607382_n.png" alt="logo img" style="height: 300px; width: 100%; position:absolute; top:0px;left:0px; padding:5px 10px; z-index: 50;">
                 
                        <form  [formGroup]="formC" style="width: 100%; position:absolute; top:80px;left:0px; padding:5px 10px; z-index: 98; " class="around-style-right around-style-left">
                          <h2 style="overflow:hidden; height: 25px; margin:1px auto; margin-top:-6px; width:60%;font-size:15px; background-color:gold; font-weight: 600;padding:5px 10px;">SUBSCRIBE NOW!</h2>
                          
                          <input  type="text" placeholder="Email" style=" margin-top:20px; border-radius: 20%; z-index: 98; border:gray solid 2px;  padding:1px; padding-left:5px; font-size: 17px; color:black; background-color: white; height: 30px; width:60%" formControlName="email" id="exampleInputEmail1">
                            <button class="around-style-right around-style-left" type="submit" (click)="envoyerMessage()" style="z-index: 98; font-size: 20px; margin:2px; top:-1px; background-color: #ff6666; border:#ff6666; color:white; width:40%;">Inscrire</button>
                        </form>
                      
                      </div>
                      
                      <div class="aa-footer-social" style="margin-top: 10px;">
                     
                        <a class="around-style-right around-style-left" style="width: 100%; border: 0px;" href="https://www.facebook.com/LibrerieAlRahma/" target="_blank"> <img class="class-style around-style-right around-style-left" src="assets/img/120138023_355232765624854_7454143296279998297_n.png" alt="logo img" style="height: 50px; width: 100%; max-width: 150px; margin: 0px auto; padding:0px 10px;"></a>
                        <a class="around-style-right around-style-left" style="width: 100%; border: 0px;" href="https://www.instagram.com/rahma_ben_boubaker/?igshid=bso3d8j0hy8h&fbclid=IwAR1Rx7Udn1AyxzIMdeagF24L6DWvNd8Z5dDHnuP7iE0xlxXg9zjT5Pho9YA" target="_blank"> <img  class="class-style around-style-right around-style-left" src="assets/img/120138193_1201020530267630_8658337117881477892_n.png" alt="logo img" style="height: 50px; width: 100%; max-width: 150px; margin: 0px auto; padding:0px 10px;"> </a>
                 <br>
                 <!--
                        <a href="https://www.facebook.com/LibrerieAlRahma/" target="_blank" class="style-icon"><span  class="fa fa-facebook style-icon-2" ></span></a> 
                        <a href="https://www.instagram.com/rahma_ben_boubaker/?igshid=bso3d8j0hy8h&fbclid=IwAR1Rx7Udn1AyxzIMdeagF24L6DWvNd8Z5dDHnuP7iE0xlxXg9zjT5Pho9YA" target="_blank" class="style-icon"> <span class="fa fa-instagram style-icon-2"></span></a>
                 -->
                      </div>
                    </div>
                    </div>
                 
                    </div>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
     </div>
    </div>
    <!-- footer-bottom -->
    <div class="aa-footer-bottom" style="background-color:white">
      <div class="container">
        <div class="row">
        <div class="col-md-12">
          <div class="aa-footer-bottom-area">
           
                <div class="col-md-12 text-center">

                   <p> <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
		        				  Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made <i class="icon-heart color-danger" aria-hidden="true"></i> by <a href="http://www.media-plus.tn/" target="_blank">MediaPlus</a>
		        				  <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
		               </p>
                
                </div>
  
          </div>
        </div>
      </div>
      </div>
    </div>
  </footer>
  <!-- / footer -->
  