
<section id="aa-catg-head-banner">
    <img src="assets/img/Slider cos20-1 - Copie.jpg" alt="fashion img" class="style-image">
</section>

<app-index-bar nom="Cosmétique"></app-index-bar>

<div *ngIf="categories">

<app-page-articles [categories]="categories"> </app-page-articles>

</div>