





<p style="color:transparent;">
  kklklklklkkllk
</p>

<div class="row width-100">
  <div class="col-12 width-padding-100">
    
<!-- notre menu flexbox -->
<nav class="nav" role="navigation">

  <div class="toggle-button" (click)="showNavbar()">
    <div class="bar"></div>
    <div class="bar"></div>
    <div class="bar"></div>
  </div>  

  <ul class="menu">

    <li *ngIf="isDashboard" ><a [routerLink]="['/profil']" >Profil</a></li>
    <li *ngIf="isDashboard"><a *ngIf="!isClient" [routerLink]="['/articles']" >Articles</a></li>
    <li *ngIf="isDashboard"><a *ngIf="!isClient" [routerLink]="['/newArticle']" >Ajouter Article</a></li>
    <li *ngIf="isDashboard"><a *ngIf="isAdmin" [routerLink]="['/boutiques']" >Fournisseurs</a></li>
    <li *ngIf="isDashboard"><a *ngIf="isAdmin" [routerLink]="['/clients']" >Clients</a></li>
    <li *ngIf="isDashboard"><a *ngIf="isAdmin" [routerLink]="['/categories']" >Categories</a></li>
    <li *ngIf="isDashboard"><a *ngIf="isAdmin" [routerLink]="['/marques']" >Marques</a></li>
    <li *ngIf="isDashboard"><a *ngIf="isAdmin" [routerLink]="['/commandes']" >Commandes</a></li>
    <li *ngIf="isDashboard"><a *ngIf="isBoutiqueWithCommande" [routerLink]="['/commandes']" >Commandes</a></li>
    <li *ngIf="isDashboard"><a *ngIf="isClient" [routerLink]="['/commandes']" >Commandes</a></li>
    <li *ngIf="isDashboard"><a *ngIf="isAdmin" [routerLink]="['/parametres']" >Parametres</a></li>


    <li *ngIf="!isDashboard"><a [routerLink]="['/accueil']" >Accueil</a></li>
    <li *ngIf="!isDashboard"> <a [routerLink]="['/presentation']" >Présentation</a></li>
 
   
   

    <li class="has-children" *ngIf="!isDashboard"><a id="Librairie" (click)="goPageArticles($event)"  >Librairie<span class="caret"></span></a>
      
      <ul  class="sous-menu">
        
        <li class="has-children" ><a id="Pack" (click)="goSousCategorie($event)">Pack <span class="caret"></span></a>
           <ul class="sous-menu">
                   <li><a id="Base-Pack"  (click)="goSousSousCategorie($event)">Base-Pack</a></li>
                   <li><a id="Secondaire-Pack"  (click)="goSousSousCategorie($event)">Secondaire-Pack</a></li>
                   <li><a id="Autres-Pack"  (click)="goSousSousCategorie($event)">Autres-Pack</a></li>
            </ul>
        </li>

        <li class="has-children" ><a id="Fourniure" (click)="goSousCategorie($event)">Fourniture<span class="caret"></span></a>
          <ul class="sous-menu">
             <li><a id="Stylo à Bille" (click)="goSousSousCategorie($event)" >Stylo à Bille</a></li>
             <li><a id="Stylos Feutres" (click)="goSousSousCategorie($event)" >Stylos Feutres</a></li>
             <li><a id="Stylos Spécieux" (click)="goSousSousCategorie($event)" >Stylos Spécieux</a></li>
             <li><a id="Porte-Mines et Recharges" (click)="goSousSousCategorie($event)" >Porte-Mines et Recharges</a></li>
             <li><a id="Crayons" (click)="goSousSousCategorie($event)" >Crayons</a></li>
             <li><a id="Taille Crayo" (click)="goSousSousCategorie($event)" >Taille Crayo</a></li>
             <li><a id="Ardoise & Chiffon" (click)="goSousSousCategorie($event)" >Ardoise & Chiffon</a></li>
             <li><a id="Colle" (click)="goSousSousCategorie($event)" >Colle</a></li>
             <li><a id="Marqueurs" (click)="goSousSousCategorie($event)" >Marqueurs</a></li>
             <li><a id="Coloriages" (click)="goSousSousCategorie($event)" >Coloriages</a></li>
             <li><a id="Surligneurs" (click)="goSousSousCategorie($event)" >Surligneurs</a></li>
             <li><a id="Correcteurs" (click)="goSousSousCategorie($event)" >Correcteurs</a></li>
             <li><a id="Recharge Stylos et Feutres" (click)="goSousSousCategorie($event)" >Recharge Stylos et Feutres</a></li>
             <li><a id="Gouache" (click)="goSousSousCategorie($event)" >Gouache</a></li>
             <li><a id="Modelage" (click)="goSousSousCategorie($event)" >Modelage</a></li>
             <li><a id="Craies" (click)="goSousSousCategorie($event)" >Craies</a></li>
             <li><a id="Compas" (click)="goSousSousCategorie($event)" >Compas</a></li>
             <li><a id="Règles, Equerres & Rapporteurs" (click)="goSousSousCategorie($event)" >Règles, Equerres & Rapporteurs</a></li>
             <li><a id="Autres-Fourniture"  (click)="goSousSousCategorie($event)">Autres-Fourniture</a></li>
    
          </ul>
        </li>

        <li class="has-children" ><a  id="Cahier & Papeteries" (click)="goSousCategorie($event)">Cahier & Papeteries<span class="caret"></span></a>
          <ul class="sous-menu">
            <li><a id="Cahiers, Blocs & Papier" (click)="goSousSousCategorie($event)" >Cahiers, Blocs & Papier</a></li>
            <li><a id="Classements & Archivages" (click)="goSousSousCategorie($event)" >Classements & Archivages</a></li>
            <li><a id="Autres-Cahier & Papeteries"  (click)="goSousSousCategorie($event)">Autres-Cahier & Papeteries</a></li>
          </ul>
        </li>

        <li class="has-children" ><a id="Manuels Scolaire" (click)="goSousCategorie($event)">Manuels Scolaire <span class="caret"></span></a>
          <ul class="sous-menu">
           <li><a id="Base-Manuels" (click)="goSousSousCategorie($event)" >Base-Manuels</a></li>
           <li><a id="Secondaire-Manuels" (click)="goSousSousCategorie($event)" >Secondaire-Manuels</a></li>
           <li><a id="Autres-Manuels"  (click)="goSousSousCategorie($event)">Autres-Manuels</a></li>
          </ul>
        </li>

        <li class="has-children"><a id="Parascolaire" (click)="goSousCategorie($event)">Parascolaire<span class="caret"></span></a>
          <ul class="sous-menu">
           <li><a id="Base-Parascolaire" (click)="goSousSousCategorie($event)" >Base-Parascolaire</a></li>
           <li><a id="Secondaire-Parascolaire" (click)="goSousSousCategorie($event)" >Secondaire-Parascolaire</a></li>
           <li><a id="Autres-Parascolaire"  (click)="goSousSousCategorie($event)">Autres-Parascolaire</a></li>

          </ul>
        </li>

        <li class="has-children" ><a id="Bureautique" (click)="goSousCategorie($event)">Bureautique<span class="caret"></span></a>
          <ul class="sous-menu">
            <li><a id="Accessoires Burautiques" (click)="goSousSousCategorie($event)" >Accessoires Burautiques</a></li>
            <li><a id="Agraffeuses & Accessoires" (click)="goSousSousCategorie($event)" >Agraffeuses & Accessoires</a></li>
            <li><a id="Adhésifs" (click)="goSousSousCategorie($event)" >Adhésifs</a></li>
            <li><a id="Caisses & Enregistreuses" (click)="goSousSousCategorie($event)" >Caisses & Enregistreuses</a></li>
            <li><a id="Cachets & Autres" (click)="goSousSousCategorie($event)" >Cachets & Autres</a></li>
            <li><a id="Coffre Fort" (click)="goSousSousCategorie($event)" >Coffre Fort</a></li>
            <li><a id="Machine A Calculer" (click)="goSousSousCategorie($event)" >Machine A Calculer</a></li>
            <li><a id="Meubles" (click)="goSousSousCategorie($event)" >Meubles</a></li>
            <li><a id="Parapheurs" (click)="goSousSousCategorie($event)" >Parapheurs</a></li>
            <li><a id="Tableaux & Accessoires" (click)="goSousSousCategorie($event)" >Tableaux & Accessoires</a></li>
            <li><a id="Étiqueteuses & Étiquettes" (click)="goSousSousCategorie($event)" >Étiqueteuses & Étiquettes</a></li>
            <li><a id="Drapeau" (click)="goSousSousCategorie($event)" >Drapeau</a></li>
            
           <li><a id="Autres-Bureautique"  (click)="goSousSousCategorie($event)">Autres-Bureautique</a></li>
          </ul>
        </li>  

        <li class="has-children" ><a id="Bibliothèque" (click)="goSousCategorie($event)">Bibliothèque<span class="caret"></span></a>
          <ul class="sous-menu" >
            <li><a id="développement humain" (click)="goSousSousCategorie($event)" >développement humain</a></li>
            <li><a id="culturels" (click)="goSousSousCategorie($event)" >Culturels</a></li>
            <li><a id="Religieuse" (click)="goSousSousCategorie($event)" >Religieuse</a></li>
            <li><a id="Histoir" (click)="goSousSousCategorie($event)" >Histoir</a></li>
            <li><a id="Autres-Bibliothèque" (click)="goSousSousCategorie($event)" >Autres-Bibliothèque</a></li>
          </ul>
        </li>

        <li><a id="Sac a Dos" (click)="goSousCategorie($event)" >Sac a Dos</a></li>
        <li><a id="Trousse" (click)="goSousCategorie($event)" >Trousse</a></li>
        <li><a id="Cartable Pc" (click)="goSousCategorie($event)" >Cartable Pc</a></li>
        <li><a id="Sac a Main" (click)="goSousCategorie($event)" >Sac a Main</a></li>
        <li><a id="Autres-Librairie" (click)="goSousCategorie($event)" >Autres-Librairie</a></li>
    
     </ul>
   </li>


   <li *ngIf="!isDashboard" class="has-children" ><a id="Informatique" (click)="goPageArticles($event)" >Informatique<span class="caret"></span></a>
    <ul class="sous-menu">
      
      <li class="has-children"><a id="Ordinateur Portable" (click)="goSousCategorie($event)">Ordinateur Portable<span class="caret"></span></a>
         <ul class="sous-menu">
            <li><a id="Pc Portable" (click)="goSousSousCategorie($event)" >Pc Portable</a></li>
            <li><a id="PC Portable Gamer" (click)="goSousSousCategorie($event)" >PC Portable Gamer</a></li>
         </ul>
      </li>
    
      <li class="has-children"><a id="Ordinateur de Bureau" (click)="goSousCategorie($event)">Ordinateur de Bureau<span class="caret"></span></a>
        <ul class="sous-menu">
          <li><a id="Pc de Bureau" (click)="goSousSousCategorie($event)" >Pc de Bureau</a></li>
          <li><a id="Ordinateur Gamer" (click)="goSousSousCategorie($event)" >Ordinateur Gamer</a></li>
          <li><a id="PC Tout En Un" (click)="goSousSousCategorie($event)" >PC Tout En Un</a></li>
          <li><a id="IMAC" (click)="goSousSousCategorie($event)" >IMAC</a></li>
        </ul>
      </li>

      <li class="has-children" ><a id="Ecrans - Moniteurs" (click)="goSousCategorie($event)">Ecrans - Moniteurs<span class="caret"></span></a>
            <ul class="sous-menu">
              <li><a id="Ecrans" (click)="goSousSousCategorie($event)" >Ecrans</a></li>
              <li><a id="Accessoires Ecran" (click)="goSousSousCategorie($event)" >Accessoires Ecran</a></li>
            </ul>
      </li>

      <li><a id="Serveurs" (click)="goSousCategorie($event)">Serveurs</a></li>
      
      <li class="has-children" ><a id="Logiciels" (click)="goSousCategorie($event)">Logiciels<span class="caret"></span></a>
        <ul class="sous-menu">
          <li><a id="Sécurité" (click)="goSousSousCategorie($event)" >Sécurité</a></li>
          <li><a id="Microsoft" (click)="goSousSousCategorie($event)" >Microsoft</a></li>
        </ul>
      </li>
    
      <li class="has-children" ><a id="Tablettes" (click)="goSousCategorie($event)">Tablettes<span class="caret"></span></a>
        <ul class="sous-menu">
          <li><a id="iPad" (click)="goSousSousCategorie($event)" >iPad</a></li>
          <li><a id="Tablette Graphique" (click)="goSousSousCategorie($event)" >Tablette Graphique</a></li>
          <li><a id="Power Bank" (click)="goSousSousCategorie($event)" >Power Bank</a></li>
          <li><a id="Chargeur et câbles pour tablettes" (click)="goSousSousCategorie($event)" >Chargeur et câbles pour tablettes</a></li>
          <li><a id="Etui de protection pour tablettes" (click)="goSousSousCategorie($event)" >Etui de protection pour tablettes</a></li>
          <li><a id="Film de protection pour tablettes" (click)="goSousSousCategorie($event)" >Film de protection pour tablettes</a></li>
        </ul>
      </li>
      
      <li class="has-children" ><a id="Réseaux et sécurite" (click)="goSousCategorie($event)" >Réseaux et sécurite</a></li>
          
      <li><a id="Onduleurs" (click)="goSousCategorie($event)">Onduleurs</a></li>
      
      <li class="has-children" ><a id="Impression" (click)="goSousCategorie($event)">Impression <span class="caret"></span></a>
        <ul class="sous-menu">
          <li><a id="imprimantes" (click)="goSousSousCategorie($event)" >imprimantes</a></li>
          <li><a id="Scanner" (click)="goSousSousCategorie($event)" >Scanner</a></li>
          <li><a id="Photocopieur" (click)="goSousSousCategorie($event)" >Photocopieur</a></li>
          <li><a id="Traceurs" (click)="goSousSousCategorie($event)" >Traceurs</a></li>
          <li><a id="Material point de vente" (click)="goSousSousCategorie($event)" >Material point de vente</a></li>
          <li><a id="Accessoires Imprimentes" (click)="goSousSousCategorie($event)" >Accessoires Imprimentes</a></li>
          <li><a id="Autres_Imprimentes" (click)="goSousSousCategorie($event)" >Autres_Imprimentes</a></li>
        </ul>
      
      </li>
      <li><a id="Accesoires-Informatique" (click)="goSousCategorie($event)">Occasion-Informatique</a></li>
      <li><a id="Accesoires-Informatique" (click)="goSousCategorie($event)">Accesoires-Informatique</a></li>
      <li><a id="Autres-Informatique" (click)="goSousCategorie($event)">Autres-Informatique</a></li>
    </ul>
  </li>
 
  <li *ngIf="!isDashboard" class="has-children"><a id="Téléphonie" (click)="goPageArticles($event)">Téléphonie<span class="caret"></span></a>
    <ul class="sous-menu">
      <li><a id="Téléphone Portable" (click)="goSousCategorie($event)" >Téléphone Portable</a></li>
      <li><a id="Smartphone" (click)="goSousCategorie($event)" >Smartphone</a></li>
      <li><a id="Téléphone Fixe" (click)="goSousCategorie($event)" >Téléphone Fixe</a></li>
      <li><a id="Accesoires-Téléphonies" (click)="goSousCategorie($event)" >Accesoires-Téléphonies</a></li>
      <li><a id="SmartWatch" (click)="goSousCategorie($event)" >SmartWatch</a></li>
      <li><a id="Appareil Fax" (click)="goSousCategorie($event)" >Appareil Fax</a></li>
      <li><a id="Autres-Téléphonies" (click)="goSousCategorie($event)">Autres-Téléphonies</a></li>
      <li><a id="Occasion-Téléphonie" (click)="goSousCategorie($event)">Occasion-Téléphonie</a></li>
    </ul>
  </li>


  <li *ngIf="!isDashboard" class="has-children" ><a id="Cadeaux" (click)="goPageArticles($event)">Cadeaux<span class="caret"></span></a>
    <ul class="sous-menu">
      <li class="has-children" ><a id="Personnalisés" (click)="goSousCategorie($event)" >Personnalisés <span class="caret"></span></a>
        <ul class="sous-menu">
          <li><a id="Vétements-Personnalisés" (click)="goSousSousCategorie($event)" >Vétements-Personnalisés</a></li>
          <li><a id="Accessoires-Personnalisés" (click)="goSousSousCategorie($event)" >Accessoires-Personnalisés</a></li>
          <li><a id="Autres-Personnalisés" (click)="goSousSousCategorie($event)" >Autres-Personnalisés</a></li>
        </ul>
      </li>
      
      <li><a id="Anniversaire" (click)="goSousCategorie($event)" >Anniversaire</a></li>
      <li><a id="Accessoires-Cadeaux" (click)="goSousCategorie($event)" >Accessoires-Cadeaux</a></li>
      <li><a id="Autres-Cadeaux" (click)="goSousCategorie($event)" >Autres-Cadeaux</a></li>
    </ul>
  </li>

    
    <li *ngIf="!isDashboard" class="has-children" ><a id="Tissu" (click)="goPageArticles($event)">Tissu<span class="caret"></span></a>
        <ul class="sous-menu">
          <li><a id="En gros" (click)="goSousCategorie($event)" >En gros</a></li>
          <li><a id="Détail" (click)="goSousCategorie($event)" >Détail</a></li>
          <li><a id="Haute Couture" (click)="goSousCategorie($event)" >Haute Couture</a></li>
          <li><a id="Autres-Tussi" (click)="goSousCategorie($event)" >Autres-Tussi</a></li>
          
        </ul>
    </li>
   
    <li *ngIf="!isDashboard" class="has-children" ><a id="Mode" (click)="goPageArticles($event)">Mode<span class="caret"></span></a>
      <ul class="sous-menu">
          
        <li class="has-children" ><a id="Vétements" (click)="goSousCategorie($event)" >Vétements <span class="caret"></span></a>
           <ul class="sous-menu">
            <li><a id="Homme" (click)="goSousSousCategorie($event)" >Homme</a></li>
            <li><a id="Femme" (click)="goSousSousCategorie($event)" >Femme </a></li>
            <li><a id="Enfant" (click)="goSousSousCategorie($event)" >Enfant</a></li>
            <li><a id="bébé" (click)="goSousSousCategorie($event)" >bébé</a></li>
            <li><a id="Autres-Vétements" (click)="goSousSousCategorie($event)" >Autres-Vétements</a></li>
            
           </ul>              
        </li>
          
          <li class="has-children"><a id="Chaussures" (click)="goSousCategorie($event)" >Chaussures <span class="caret"></span></a>
            <ul class="sous-menu">
              <li><a id="Chaussures-Homme" (click)="goSousSousCategorie($event)" >Chaussures-Homme</a></li>
              <li><a id="Chaussures-Femme" (click)="goSousSousCategorie($event)" >Chaussures-Femme </a></li>
              <li><a id="Chaussures-Enfant" (click)="goSousSousCategorie($event)" >Chaussures-Enfant</a></li>
              <li><a id="Autres-Chaussures" (click)="goSousSousCategorie($event)" >Autres-Chaussures</a></li>
              
             </ul>              
          </li>
          <li><a id="Location robe soirée" (click)="goSousCategorie($event)" >Location robe soirée </a></li>
          <li><a id="Vente robe soirée" (click)="goSousCategorie($event)" >Vente robe soirée</a></li>
          <li><a id="Accesoires-Mode" (click)="goSousCategorie($event)" >Accesoires-Mode</a></li>
          <li><a id="Autres-Mode" (click)="goSousCategorie($event)" >Autres-Mode</a></li>
        
      </ul>
    </li> 


    <li *ngIf="!isDashboard" class="has-children" ><a id="Maison et Loisir" (click)="goPageArticles($event)">Maison et Loisir <span class="caret"></span></a>
          <ul class="sous-menu">
                <li><a id="Meubles" (click)="goSousCategorie($event)" >Meubles</a></li>
                
                <li class="has-children" ><a id="Décoration" (click)="goSousCategorie($event)" >Décoration<span class="caret"></span></a>
                   <ul class="sous-menu" style="width: auto;">
                      <li><a id="Accessoires De Décoration" (click)="goSousSousCategorie($event)" >Accessoires De Décoration</a></li>
                      <li><a id="Veilleuses / Lustres" (click)="goSousSousCategorie($event)" >Veilleuses / Lustres</a></li>
                      <li><a id="Rideaux" (click)="goSousSousCategorie($event)" >Rideaux</a></li>
                      <li><a id="Tableaux" (click)="goSousSousCategorie($event)" >Tableaux</a></li>
                      <li><a id="Miroirs" (click)="goSousSousCategorie($event)" >Miroirs</a></li>
                      <li><a id="Coussins" (click)="goSousSousCategorie($event)" >Coussins</a></li>
                      <li><a id="Horloges" (click)="goSousSousCategorie($event)" >Horloges</a></li>
                      <li><a id="Rangement pour vêtements et penderies" (click)="goSousSousCategorie($event)" >Rangement pour vêtements et penderies</a></li>
                   </ul>
                  </li>
                  <li class="has-children" ><a id="Cuisine" (click)="goSousCategorie($event)" >Cuisine<span class="caret"></span></a>
                    <ul class="sous-menu">
                      <li><a id="Service à Table" (click)="goSousSousCategorie($event)" >Service à Table</a></li>
                      <li><a id="Service à Café" (click)="goSousSousCategorie($event)" >Service à Café</a></li>
                      <li><a id="Service Granite" (click)="goSousSousCategorie($event)" >Service Granite</a></li>
                      <li><a id="Service Tefal" (click)="goSousSousCategorie($event)" >Service Tefal</a></li>
                      <li><a id="Service Inox" (click)="goSousSousCategorie($event)" >Service Inox</a></li>
                      <li><a id="Service Cristal" (click)="goSousSousCategorie($event)" >Service Cristal</a></li>
                      <li><a id="Plateaux" (click)="goSousSousCategorie($event)" >Plateaux</a></li>
                      <li><a id="Thermos" (click)="goSousSousCategorie($event)" >Thermos</a></li>
                      <li><a id="Moules à Pâtisserie" (click)="goSousSousCategorie($event)" >Moules à Pâtisserie</a></li>
                      <li><a id="Ménager / Couverts" (click)="goSousSousCategorie($event)" >Ménager / Couverts</a></li>
                      <li><a id="Tasses , Mugs et Soucoupes" (click)="goSousSousCategorie($event)" >Tasses , Mugs et Soucoupes</a></li>
                      <li><a id="Accessoires" (click)="goSousSousCategorie($event)" >Accessoires</a></li>
                      <li><a id="Porte-épices" (click)="goSousSousCategorie($event)" >Porte-épices</a></li>
                      <li><a id="Bonbonnière" (click)="goSousSousCategorie($event)" >Bonbonnière</a></li>
                    </ul>
                  </li>
                  <li class="has-children" ><a id="Accessoires Salle De Bain" (click)="goSousCategorie($event)">Accessoires Salle De Bain <span class="caret"></span></a>
                    <ul class="sous-menu">
                      <li><a id="Cap de Bain" (click)="goSousSousCategorie($event)" >Cap de Bain</a></li>
                      <li><a id="Serviettes" (click)="goSousSousCategorie($event)" >Serviettes</a></li>
                    </ul>
                  </li>
                  <li><a id="Valises" (click)="goSousCategorie($event)">Valises</a>
                  
                  </li>

                  <li><a id="Articles en Verre" (click)="goSousCategorie($event)">Articles en Verre</a></li>
                  
                  <li><a id="Sport et Loisir" (click)="goSousCategorie($event)" >Sport et Loisir</a></li>
                  <li><a id="Accesoires-Maison&Loisir" (click)="goSousCategorie($event)" >Accesoires-Maison&Loisir</a></li>
                  <li><a id="Autres-Maison&Loisir" (click)="goSousCategorie($event)" >Autres-Maison&Loisir</a></li>
                  
                  <li><a id="Occasion-Maison&Loisir" (click)="goSousCategorie($event)">Occasion-Maison&Loisir</a></li>
            </ul>
    </li>

    
    <li *ngIf="!isDashboard" class="has-children"><a id="Électroménager" (click)="goPageArticles($event)">Électroménager<span class="caret"></span></a>
       <ul class="sous-menu">
          <li><a id="Réfrigérateur" (click)="goSousCategorie($event)" >Réfrigérateur</a></li>
          <li><a id="Climatiseur & Chauffages / Accessoires" (click)="goSousCategorie($event)" >Climatiseur & Chauffages / Accessoires</a></li>
          <li><a id="Mixeurs/ Robots/ Batteurs / Press-agrumes" (click)="goSousCategorie($event)">Mixeurs/ Robots/ Batteurs / Press-agrumes</a></li>
          <li><a id="Mousseurs à lait" (click)="goSousCategorie($event)" >Mousseurs à lait</a></li>
          <li><a id="Fours" (click)="goSousCategorie($event)" >Fours</a></li>
          <li><a id="Appareils à panini / à Sandwich" (click)="goSousCategorie($event)" >Appareils à panini / à Sandwich</a></li>
          <li><a id="Cafetières" (click)="goSousCategorie($event)" >Cafetières</a></li>
          <li><a id="Fers à Repasser" (click)="goSousCategorie($event)" >Fers à Repasser</a></li>
          <li><a id="Sèche-Cheveux" (click)="goSousCategorie($event)" >Sèche-Cheveux</a></li>
           <li class="has-children"><a id="Téléviseurs & Son" (click)="goSousCategorie($event)" >Téléviseurs & Son<span class="caret"></span></a>
              <ul class="sous-menu">
                <li><a id="Accessoires TV" (click)="goSousSousCategorie($event)" >Accessoires TV</a></li>
                <li><a id="Tv" (click)="goSousSousCategorie($event)" >Tv</a></li>
              </ul>
          </li>
          <li><a id="Accesoires-Électroménager" (click)="goSousCategorie($event)" >Accesoires-Électroménager</a></li>
          <li><a id="Autres-Électroménager" (click)="goSousCategorie($event)" >Autres-Électroménager</a></li>
          <li><a id="Occasion-Électroménager" (click)="goSousCategorie($event)">Occasion-Électroménager</a></li>
      </ul>
    </li>
  

    <li class="has-children" *ngIf="!isDashboard"><a id="Cosmétique" (click)="goPageArticles($event)" >Cosmétique<span class="caret"></span></a>
      <ul class="sous-menu">
          <li><a id="bio & santes" (click)="goSousCategorie($event)" >bio & santes</a></li>
          <li><a id="Maquillage" (click)="goSousCategorie($event)" >Maquillage</a></li>
          <li><a id="Soins Homme" (click)="goSousCategorie($event)">Soins Homme</a></li>
          <li><a id="Soins Femme" (click)="goSousCategorie($event)">Soins Femme</a></li>
          <li><a id="Parfunms" (click)="goSousCategorie($event)" >Parfunms</a></li>
          <li><a id="Autres-Cosmétique" (click)="goSousCategorie($event)" >Autres-Cosmétique</a></li>
          <li><a id="Accesoires-Cosmétique" (click)="goSousCategorie($event)" >Accesoires-Cosmétique</a></li>
          <li><a id="Autres-Cosmétique" (click)="goSousCategorie($event)" >Autres-Cosmétique</a></li>
       
      </ul>
    </li>

    <li *ngIf="!isDashboard"><a  id="Jouet" (click)="goPageArticles($event)" >Jouet</a></li>

    <li *ngIf="!isDashboard"><a [routerLink]="['/contact']" >Contact</a></li>



  </ul>

</nav>

</div>
</div>



<!-- /notre menu flexbox -->

<!--
<div class="menu-bar">

  <ul>
    <li   ><a href="" > Home </a></li>
    <li   ><a href="" > Home </a></li>
    <li   ><a href="" > Home </a></li>
    <li   ><a href="" > Home </a></li>
    <li   ><a href="" > Home </a></li>

    <li  ><a id="Informatique" (click)="goPageArticles($event)" >Informatique<span class="caret"></span></a>
      
     <div class="sub-menu-1">
      <ul class=" style-ul">
        
        <li><a routerLink="Furniture">ORDINATEUR PORTABLE<span class="caret"></span></a>
          <div class="sub-menu-2"> 
             <ul class="style-ul">
                 <li><a href="#">Pc Portable</a></li>
                 <li><a href="#">PC Portable Gamer</a></li>
             </ul>
           </div>
        </li>
      
        <li><a routerLink="pack">ORDINATEUR DE BUREAU<span class="caret"></span></a>
         
        </li>

        <li><a routerLink="pack">ECRANS-MONITEURS<span class="caret"></span></a>
                 </li>

        <li><a href="#">SERVEURS</a></li>
        
        <li><a href="#">LOGICIELS<span class="caret"></span></a>
       </li>
      
        <li><a href="#">TABLETTES<span class="caret"></span></a>
        </li>

        <li><a href="#">ONDULEURS ON LINE</a></li>
        <li><a href="#">ONDULEURS OFF-LINE</a></li>
    
      </ul>
     </div>
    </li>
    
  </ul>

</div>
-->




<!--

  <section id="menu">
    <div class="content" style="justify-content: center !important;">
      <div class="menu-area">
        <div class="navbar navbar-default" role="navigation">
         
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>          
          </div>

          <div class="navbar-collapse collapse" style="width:100%; padding:0px !important; align-items: center !important; display:flex !important;">
            <ul class="nav navbar-nav"  style="width: auto !important; margin: 0px auto; ">

         
              <li *ngIf="isDashboard" ><a [routerLink]="['/profil']" >Profil</a></li>
              <li *ngIf="isDashboard"><a *ngIf="!isClient" [routerLink]="['/articles']" >Articles</a></li>
              <li *ngIf="isDashboard"><a *ngIf="!isClient" [routerLink]="['/newArticle']" >Ajouter Article</a></li>
              <li *ngIf="isDashboard"><a *ngIf="isAdmin" [routerLink]="['/boutiques']" >Fournisseurs</a></li>
              <li *ngIf="isDashboard"><a *ngIf="isAdmin" [routerLink]="['/clients']" >Clients</a></li>
              <li *ngIf="isDashboard"><a *ngIf="isAdmin" [routerLink]="['/categories']" >Categories</a></li>
              <li *ngIf="isDashboard"><a *ngIf="isAdmin" [routerLink]="['/marques']" >Marques</a></li>
              <li *ngIf="isDashboard"><a *ngIf="isAdmin" [routerLink]="['/commandes']" >Commandes</a></li>
              <li *ngIf="isDashboard"><a *ngIf="isBoutiqueWithCommande" [routerLink]="['/commandes']" >Commandes</a></li>
              <li *ngIf="isDashboard"><a *ngIf="isClient" [routerLink]="['/commandes']" >Commandes</a></li>
              <li *ngIf="isDashboard"><a *ngIf="isAdmin" [routerLink]="['/parametres']" >Parametres</a></li>
         


              <li *ngIf="!isDashboard"><a [routerLink]="['/accueil']" >Accueil</a></li>
              <li *ngIf="!isDashboard"> <a [routerLink]="['/presentation']" >Présentation</a></li>
           
             
             

              <li *ngIf="!isDashboard"><a id="Librairie" (click)="goPageArticles($event)"  >Librairie<span class="caret"></span></a>
                
                <ul  class="dropdown-menu style-ul">
                  
                  <li><a id="Pack" (click)="goSousCategorie($event)">Pack <span class="caret"></span></a>
                     <ul class="dropdown-menu style-ul">
                             <li><a id="Base"  (click)="goSousSousCategorie($event)">Base</a></li>
                             <li><a id="Secondaire"  (click)="goSousSousCategorie($event)">Secondaire</a></li>
                             <li><a id="Secondaire"  (click)="goSousSousCategorie($event)">Autres-Pack</a></li>
                      </ul>
                  </li>

                  <li><a id="Fourniure" (click)="goSousCategorie($event)">Fourniure<span class="caret"></span></a>
                    <ul class="dropdown-menu style-ul">
                       <li><a id="Stylo à Bille" (click)="goSousSousCategorie($event)" >Stylo à Bille</a></li>
                       <li><a id="Stylos Feutres" (click)="goSousSousCategorie($event)" >Stylos Feutres</a></li>
                       <li><a id="Stylos Spécieux" (click)="goSousSousCategorie($event)" >Stylos Spécieux</a></li>
                       <li><a id="Porte-Mines et Recharges" (click)="goSousSousCategorie($event)" >Porte-Mines et Recharges</a></li>
                       <li><a id="Crayons" (click)="goSousSousCategorie($event)" >Crayons</a></li>
                       <li><a id="Taille Crayo" (click)="goSousSousCategorie($event)" >Taille Crayo</a></li>
                       <li><a id="Ardoise & Chiffon" (click)="goSousSousCategorie($event)" >Ardoise & Chiffon</a></li>
                       <li><a id="Colle" (click)="goSousSousCategorie($event)" >Colle</a></li>
                       <li><a id="Marqueurs" (click)="goSousSousCategorie($event)" >Marqueurs</a></li>
                       <li><a id="Coloriages" (click)="goSousSousCategorie($event)" >Coloriages</a></li>
                       <li><a id="Surligneurs" (click)="goSousSousCategorie($event)" >Surligneurs</a></li>
                       <li><a id="Correcteurs" (click)="goSousSousCategorie($event)" >Correcteurs</a></li>
                       <li><a id="Recharge Stylos et Feutres" (click)="goSousSousCategorie($event)" >Recharge Stylos et Feutres</a></li>
                       <li><a id="Gouache" (click)="goSousSousCategorie($event)" >Gouache</a></li>
                       <li><a id="Modelage" (click)="goSousSousCategorie($event)" >Modelage</a></li>
                       <li><a id="Craies" (click)="goSousSousCategorie($event)" >Craies</a></li>
                       <li><a id="Compas" (click)="goSousSousCategorie($event)" >Compas</a></li>
                       <li><a id="Règles, Equerres & Rapporteurs" (click)="goSousSousCategorie($event)" >Règles, Equerres & Rapporteurs</a></li>
                       <li><a id="Secondaire"  (click)="goSousSousCategorie($event)">Autres-Fourniure</a></li>
              
                    </ul>
                  </li>

                  <li><a  id="Cahier & Papeteries" (click)="goSousCategorie($event)">Cahier & Papeteries<span class="caret"></span></a>
                    <ul class="dropdown-menu style-ul">
                      <li><a id="Cahiers, Blocs & Papier" (click)="goSousSousCategorie($event)" >Cahiers, Blocs & Papier</a></li>
                      <li><a id="Classements & Archivages" (click)="goSousSousCategorie($event)" >Classements & Archivages</a></li>
                      <li><a id="Secondaire"  (click)="goSousSousCategorie($event)">Autres-F</a></li>
                    </ul>
                  </li>

                  <li><a id="Manuels Scolaire" (click)="goSousCategorie($event)">Manuels Scolaire <span class="caret"></span></a>
                    <ul class="dropdown-menu style-ul">
                     <li><a id="M-Base" (click)="goSousSousCategorie($event)" >M-Base</a></li>
                     <li><a id="M-Secondaire" (click)="goSousSousCategorie($event)" >M-Secondaire</a></li>
                     <li><a id="Secondaire"  (click)="goSousSousCategorie($event)">Autres-Manuels</a></li>
                    </ul>
                  </li>

                  <li><a id="Parascolaire" (click)="goSousCategorie($event)">Parascolaire<span class="caret"></span></a>
                    <ul class="dropdown-menu style-ul">
                     <li><a id="P-Base" (click)="goSousSousCategorie($event)" >P-Base</a></li>
                     <li><a id="P-Secondaire" (click)="goSousSousCategorie($event)" >P-Secondaire</a></li>
                     <li><a id="Secondaire"  (click)="goSousSousCategorie($event)">Autres-Parascolaire</a></li>

                    </ul>
                  </li>

                  <li><a id="Bureautique" (click)="goSousCategorie($event)">Bureautique<span class="caret"></span></a>
                    <ul class="dropdown-menu style-ul">
                      <li><a id="Accessoires Burautiques" (click)="goSousSousCategorie($event)" >Accessoires Burautiques</a></li>
                      <li><a id="Agraffuses & Accessoires" (click)="goSousSousCategorie($event)" >Agraffuses & Accessoires</a></li>
                      <li><a id="Adhésifs" (click)="goSousSousCategorie($event)" >Adhésifs</a></li>
                      <li><a id="Caises & Caisses Enregistreuses" (click)="goSousSousCategorie($event)" >Caises & Caisses Enregistreuses</a></li>
                      <li><a id="Cachets & Autres" (click)="goSousSousCategorie($event)" >Cachets & Autres</a></li>
                      <li><a id="Coffre Fort" (click)="goSousSousCategorie($event)" >Coffre Fort</a></li>
                      <li><a id="Machine A Calculer" (click)="goSousSousCategorie($event)" >Machine A Calculer</a></li>
                      <li><a id="Meubles" (click)="goSousSousCategorie($event)" >Meubles</a></li>
                      <li><a id="Parapheurs" (click)="goSousSousCategorie($event)" >Parapheurs</a></li>
                      <li><a id="Tableaux& Accessoires" (click)="goSousSousCategorie($event)" >Tableaux & Accessoires</a></li>
                      <li><a id="Étiqueteuses& Étiquettes" (click)="goSousSousCategorie($event)" >Étiqueteuses & Étiquettes</a></li>
                      <li><a id="Drapeau" (click)="goSousSousCategorie($event)" >Drapeau</a></li>
                      
                     <li><a id="Secondaire"  (click)="goSousSousCategorie($event)">Autres-Bureautique</a></li>
                    </ul>
                  </li>  

                  <li><a id="Bibliothèque" (click)="goSousCategorie($event)">Bibliothèque<span class="caret"></span></a>
                    <ul class="dropdown-menu style-ul">
                      <li><a id="développement humain" (click)="goSousSousCategorie($event)" >développement humain</a></li>
                      <li><a id="culturels" (click)="goSousSousCategorie($event)" >Culturels</a></li>
                      <li><a id="Religieux" (click)="goSousSousCategorie($event)" >Religieux</a></li>
                      <li><a id="Histoir" (click)="goSousSousCategorie($event)" >Histoir</a></li>
                      <li><a id="Autre" (click)="goSousSousCategorie($event)" >Autre-Bibliothèque</a></li>
                    </ul>
                  </li>

                  <li><a id="Sac a Dos" (click)="goSousCategorie($event)" >Sac a Dos</a></li>
                  <li><a id="Trousse" (click)="goSousCategorie($event)" >Trousse</a></li>
                  <li><a id="Cartable Pc" (click)="goSousCategorie($event)" >Cartable Pc</a></li>
                  <li><a id="Sac a Main" (click)="goSousCategorie($event)" >Sac a Main</a></li>
                  <li><a id="Autre" (click)="goSousSousCategorie($event)" >Autre-Librairie</a></li>
              
               </ul>
             </li>

              
             <li *ngIf="!isDashboard"><a id="Informatique" (click)="goPageArticles($event)" >Informatique<span class="caret"></span></a>
                <ul class="dropdown-menu style-ul">
                  
                  <li><a id="Ordinateur Portable" (click)="goSousCategorie($event)">Ordinateur Portable<span class="caret"></span></a>
                     <ul class="dropdown-menu style-ul">
                        <li><a id="Pc Portable" (click)="goSousSousCategorie($event)" >Pc Portable</a></li>
                        <li><a id="PC Portable Gamer" (click)="goSousSousCategorie($event)" >PC Portable Gamer</a></li>
                     </ul>
                  </li>
                
                  <li><a id="Ordinateur de Bureau" (click)="goSousCategorie($event)">Ordinateur de Bureau<span class="caret"></span></a>
                    <ul class="dropdown-menu style-ul">
                      <li><a id="Pc de Bureau" (click)="goSousSousCategorie($event)" >Pc de Bureau</a></li>
                      <li><a id="Ordinateur Gamer" (click)="goSousSousCategorie($event)" >Ordinateur Gamer</a></li>
                      <li><a id="PC Tout En Un" (click)="goSousSousCategorie($event)" >PC Tout En Un</a></li>
                      <li><a id="IMAC" (click)="goSousSousCategorie($event)" >IMAC</a></li>
                    </ul>
                  </li>

                  <li><a id="Ecrans - Moniteurs" (click)="goSousCategorie($event)">Ecrans - Moniteurs<span class="caret"></span></a>
                        <ul class="dropdown-menu style-ul">
                          <li><a id="Ecrans" (click)="goSousSousCategorie($event)" >Ecrans</a></li>
                          <li><a id="Accessoires Ecran" (click)="goSousSousCategorie($event)" >Accessoires Ecran</a></li>
                        </ul>
                  </li>

                  <li><a id="Serveurs" (click)="goSousCategorie($event)">Serveurs</a></li>
                  
                  <li><a id="Logiciels" (click)="goSousCategorie($event)">Logiciels<span class="caret"></span></a>
                    <ul class="dropdown-menu style-ul">
                      <li><a id="Sécurité" (click)="goSousSousCategorie($event)" >Sécurité</a></li>
                      <li><a id="Microsoft" (click)="goSousSousCategorie($event)" >Microsoft</a></li>
                    </ul>
                  </li>
                
                  <li><a id="Tablettes" (click)="goSousCategorie($event)">Tablettes<span class="caret"></span></a>
                    <ul class="dropdown-menu style-ul">
                      <li><a id="iPad" (click)="goSousSousCategorie($event)" >iPad</a></li>
                      <li><a id="Tablette Graphique" (click)="goSousSousCategorie($event)" >Tablette Graphique</a></li>
                      <li><a id="Power Bank" (click)="goSousSousCategorie($event)" >Power Bank</a></li>
                      <li><a id="Chargeur et câbles pour tablettes" (click)="goSousSousCategorie($event)" >Chargeur et câbles pour tablettes</a></li>
                      <li><a id="Etui de protection pour tablettes" (click)="goSousSousCategorie($event)" >Etui de protection pour tablettes</a></li>
                      <li><a id="Recharge Stylos et Feutres" (click)="goSousSousCategorie($event)" >Recharge Stylos et Feutres</a></li>
                      <li><a id="Film de protection pour tablettes" (click)="goSousSousCategorie($event)" >Film de protection pour tablettes</a></li>
                    </ul>
                  </li>
                  
                  <li><a id="Correcteurs" (click)="goSousSousCategorie($event)" >Réseaux et sécurite</a></li>
                      
                  <li><a id="Onduleurs on Line" (click)="goSousCategorie($event)">Onduleurs</a></li>
                  <li><a id="Onduleurs OFF-LINE" (click)="goSousCategorie($event)">Impression</a>
                    <ul class="dropdown-menu style-ul">
                      <li><a id="iPad" (click)="goSousSousCategorie($event)" >imprimantes</a></li>
                      <li><a id="Tablette Graphique" (click)="goSousSousCategorie($event)" >Scanner</a></li>
                      <li><a id="Power Bank" (click)="goSousSousCategorie($event)" >Photocopieur</a></li>
                      <li><a id="Chargeur et câbles pour tablettes" (click)="goSousSousCategorie($event)" >Traceurs</a></li>
                      <li><a id="Etui de protection pour tablettes" (click)="goSousSousCategorie($event)" >Material point de vente</a></li>
                      <li><a id="Recharge Stylos et Feutres" (click)="goSousSousCategorie($event)" >Accessoires Imprimentes</a></li>
                      <li><a id="Film de protection pour tablettes" (click)="goSousSousCategorie($event)" >Autres_Imprimentes</a></li>
                    </ul>
                  
                  </li>
                  <li><a id="Onduleurs on Line" (click)="goSousCategorie($event)">Accesoires-Informatique</a></li>
                  <li><a id="Onduleurs on Line" (click)="goSousCategorie($event)">Autres-Informatique</a></li>
                </ul>
              </li>
             
              
              <li *ngIf="!isDashboard"><a id="Téléphonie" (click)="goPageArticles($event)">Téléphonie<span class="caret"></span></a>
                <ul class="dropdown-menu style-ul">
                  <li><a id="Téléphone Portable" (click)="goSousCategorie($event)" >Téléphone Portable</a></li>
                  <li><a id="Smartphone" (click)="goSousCategorie($event)" >Smartphone</a></li>
                  <li><a id="Téléphone Fixe" (click)="goSousCategorie($event)" >Téléphone Fixe</a></li>
                  <li><a id="Accesoires Téléphonies" (click)="goSousCategorie($event)" >Accesoires-Téléphonies</a></li>
                  <li><a id="SmartWatch" (click)="goSousCategorie($event)" >SmartWatch</a></li>
                  <li><a id="Appareil Fax" (click)="goSousCategorie($event)" >Appareil Fax</a></li>
                  <li><a id="Onduleurs on Line" (click)="goSousCategorie($event)">Autres-Téléphonie</a></li>
                </ul>
              </li>
            
           
              <li *ngIf="!isDashboard"><a id="Cadeaux" (click)="goPageArticles($event)">Cadeaux<span class="caret"></span></a>
                <ul class="dropdown-menu style-ul">
                  <li><a id="Personnalisés" (click)="goSousCategorie($event)" >Personnalisés</a>
                    <ul class="dropdown-menu style-ul">
                      <li><a id="Téléphone Portable" (click)="goSousCategorie($event)" >Vétements-Personnalisés</a></li>
                      <li><a id="Smartphone" (click)="goSousCategorie($event)" >Accessoires-Personnalisés</a></li>
                      <li><a id="Téléphone Fixe" (click)="goSousCategorie($event)" >Autres-Personnalisés</a></li>
                    </ul>
                  </li>
                  
                  <li><a id="Anniversaire" (click)="goSousCategorie($event)" >Anniversaire</a></li>
                  <li><a id="Accessoires-C" (click)="goSousCategorie($event)" >Accessoires-Cadeaux</a></li>
                  <li><a id="Accessoires-C" (click)="goSousCategorie($event)" >Autres-Cadeaux</a></li>
                </ul>
              </li>
          
                
                <li *ngIf="!isDashboard"><a id="Tissu" (click)="goPageArticles($event)">Tissu<span class="caret"></span></a>
                    <ul class="dropdown-menu style-ul">
                      <li><a id="En gros" (click)="goSousCategorie($event)" >En gros</a></li>
                      <li><a id="Détail" (click)="goSousCategorie($event)" >Détail</a></li>
                      <li><a id="Haute Couture" (click)="goSousCategorie($event)" >Haute Couture</a></li>
                      <li><a id="Haute Couture" (click)="goSousCategorie($event)" >Autres-Tussi</a></li>
                      
                    </ul>
                </li>
               
                <li *ngIf="!isDashboard"><a id="Mode" (click)="goPageArticles($event)">Mode<span class="caret"></span></a>
                  <ul class="dropdown-menu style-ul">
                      
                    <li><a id="Téléphone Portable" (click)="goSousCategorie($event)" >Vétements</a>
                       <ul class="dropdown-menu style-ul">
                        <li><a id="Homme" (click)="goSousCategorie($event)" >Homme</a></li>
                        <li><a id="Femme" (click)="goSousCategorie($event)" >Femme </a></li>
                        <li><a id="Enfant" (click)="goSousCategorie($event)" >Enfant</a></li>
                        <li><a id="Enfant" (click)="goSousCategorie($event)" >bébé</a></li>
                        <li><a id="Enfant" (click)="goSousCategorie($event)" >Autres-Vétement</a></li>
                        
                       </ul>              
                    </li>
                      
                      <li><a id="Chaussures" (click)="goSousCategorie($event)" >Chaussures</a>
                        <ul class="dropdown-menu style-ul">
                          <li><a id="Homme" (click)="goSousCategorie($event)" >Chaussures-Homme</a></li>
                          <li><a id="Femme" (click)="goSousCategorie($event)" >Chaussures-Femme </a></li>
                          <li><a id="Enfant" (click)="goSousCategorie($event)" >Chaussures-Enfant</a></li>
                          <li><a id="Enfant" (click)="goSousCategorie($event)" >Autres-Chaussures</a></li>
                          
                         </ul>              
                      </li>
                      <li><a id="Location robe soirée" (click)="goSousCategorie($event)" >Location robe soirée </a></li>
                      <li><a id="Vente robe soirée" (click)="goSousCategorie($event)" >Vente robe soirée</a></li>
                      <li><a id="Accesoires-M" (click)="goSousCategorie($event)" >Accesoires-Mode</a></li>
                      <li><a id="Accesoires-M" (click)="goSousCategorie($event)" >Autres-Mode</a></li>
                    
                  </ul>
                </li> 


                <li *ngIf="!isDashboard"><a id="Maison et Loisir" (click)="goPageArticles($event)">Maison et Loisir <span class="caret"></span></a>
                      <ul class="dropdown-menu style-ul">
                            <li><a id="Meubles" (click)="goSousCategorie($event)" >Meubles</a></li>
                                
                            <li><a id="Décoration" (click)="goSousCategorie($event)" >Décoration<span class="caret"></span></a>
                               <ul class="dropdown-menu style-ul" style="width: auto;">
                                  <li><a id="Accessoires De Décoration" (click)="goSousSousCategorie($event)" >Accessoires De Décoration</a></li>
                                  <li><a id="Veilleuses / Lustres" (click)="goSousSousCategorie($event)" >Veilleuses / Lustres</a></li>
                                  <li><a id="Rideaux" (click)="goSousSousCategorie($event)" >Rideaux</a></li>
                                  <li><a id="Tableaux" (click)="goSousSousCategorie($event)" >Tableaux</a></li>
                                  <li><a id="Miroirs" (click)="goSousSousCategorie($event)" >Miroirs</a></li>
                                  <li><a id="Coussins" (click)="goSousSousCategorie($event)" >Coussins</a></li>
                                  <li><a id="Horloges" (click)="goSousSousCategorie($event)" >Horloges</a></li>
                                  <li><a id="Accessoires De Décoration" (click)="goSousSousCategorie($event)" >Accessoires De Décoration</a></li>
                                  <li><a id="Rangement pour vêtements et penderies" (click)="goSousSousCategorie($event)" >Rangement pour vêtements et penderies</a></li>
                               </ul>
                              </li>
                              <li><a id="Cuisine" (click)="goSousCategorie($event)" >Cuisine<span class="caret"></span></a>
                                <ul class="dropdown-menu style-ul">
                                  <li><a id="Service à Table" (click)="goSousSousCategorie($event)" >Service à Table</a></li>
                                  <li><a id="Service à Café" (click)="goSousSousCategorie($event)" >Service à Café</a></li>
                                  <li><a id="Service Granite" (click)="goSousSousCategorie($event)" >Service Granite</a></li>
                                  <li><a id="Service Tefal" (click)="goSousSousCategorie($event)" >Service Tefal</a></li>
                                  <li><a id="Service Inox" (click)="goSousSousCategorie($event)" >Service Inox</a></li>
                                  <li><a id="Service Cristal" (click)="goSousSousCategorie($event)" >Service Cristal</a></li>
                                  <li><a id="Plateaux" (click)="goSousSousCategorie($event)" >Plateaux</a></li>
                                  <li><a id="Thermos" (click)="goSousSousCategorie($event)" >Thermos</a></li>
                                  <li><a id="Moules à Pâtisserie" (click)="goSousSousCategorie($event)" >Moules à Pâtisserie</a></li>
                                  <li><a id="Ménager / Couverts" (click)="goSousSousCategorie($event)" >Ménager / Couverts</a></li>
                                  <li><a id="Tasses , Mugs et Soucoupes" (click)="goSousSousCategorie($event)" >Tasses , Mugs et Soucoupes</a></li>
                                  <li><a id="Accessoires" (click)="goSousSousCategorie($event)" >Accessoires</a></li>
                                  <li><a id="Porte-épices" (click)="goSousSousCategorie($event)" >Porte-épices</a></li>
                                  <li><a id="Bonbonnière" (click)="goSousSousCategorie($event)" >Bonbonnière</a></li>
                                </ul>
                              </li>
                              <li><a id="Accessoires Salle De Bain" (click)="goSousCategorie($event)">Accessoires Salle De Bain <span class="caret"></span></a>
                                <ul class="dropdown-menu style-ul">
                                  <li><a id="Cap de Bain" (click)="goSousSousCategorie($event)" >Cap de Bain</a></li>
                                  <li><a id="Serviettes" (click)="goSousSousCategorie($event)" >Serviettes</a></li>
                                </ul>
                              </li>
                              <li><a id="Valises" (click)="goSousCategorie($event)">Valises<span class="caret"></span></a>
                              
                              </li>

                              <li><a id="Articles en Verre" (click)="goSousCategorie($event)">Articles en Verre</a></li>
                              
                              <li><a id="Sport et Loisir" (click)="goSousCategorie($event)" >Sport et Loisir</a></li>
                              <li><a id="Accesoires-M" (click)="goSousCategorie($event)" >Accesoires-Maison&Loisir</a></li>
                              <li><a id="Accesoires-M" (click)="goSousCategorie($event)" >Autres-Maison&Loisir</a></li>
                        </ul>
                </li>

                
                <li *ngIf="!isDashboard"><a id="Électroménager" (click)="goPageArticles($event)">Électroménager<span class="caret"></span></a>
                   <ul class="dropdown-menu style-ul" style="max-width: 200px !important;">
                      <li><a id="Refrigerateur" (click)="goSousCategorie($event)" >Refrigerateur</a></li>
                      <li><a id="Climatisseur & Accesories" (click)="goSousCategorie($event)" >Climatisseur & Chauffages / Accessoires</a></li>
                      <li><a id="Mixeurs/Robots/Batteurs/Press agrumes" (click)="goSousCategorie($event)">Mixeurs/Robots/Batteurs/Press agrumes</a></li>
                      <li><a id="Mousseurs à lait" (click)="goSousCategorie($event)" >Mousseurs à lait</a></li>
                      <li><a id="Fours" (click)="goSousCategorie($event)" >Fours</a></li>
                      <li><a id="Appareils à panini / à Sandwich" (click)="goSousCategorie($event)" >Appareils à panini / à Sandwich</a></li>
                      <li><a id="Cafetières" (click)="goSousCategorie($event)" >Cafetières</a></li>
                      <li><a id="Fers à Repasser" (click)="goSousCategorie($event)" >Fers à Repasser</a></li>
                      <li><a id="Sèche-Cheveux" (click)="goSousCategorie($event)" >Sèche-Cheveux</a></li>
                       <li><a id="Téléviseurs & Son" (click)="goSousCategorie($event)" >Téléviseurs & Son<span class="caret"></span></a>
                          <ul class="dropdown-menu style-ul">
                            <li><a id="Accessoires TV" (click)="goSousSousCategorie($event)" >Accessoires TV</a></li>
                            <li><a id="Tv" (click)="goSousSousCategorie($event)" >Tv</a></li>
                          </ul>
                      </li>
                  </ul>
                </li>
              
  
                <li *ngIf="!isDashboard"><a id="Cosmétique" (click)="goPageArticles($event)" >Cosmétique<span class="caret"></span></a>
                  <ul class="dropdown-menu style-ul">
                      <li><a id="bio" (click)="goSousCategorie($event)" >bio & santes</a></li>
                      <li><a id="Maquillage" (click)="goSousCategorie($event)" >Maquillage</a></li>
                      <li><a id="Soin Homme" (click)="goSousCategorie($event)">Soins Homme</a></li>
					            <li><a id="Soin Famme" (click)="goSousCategorie($event)">Soins Femme</a></li>
                      <li><a id="Parfun" (click)="goSousCategorie($event)" >Parfunms</a></li>
                      <li><a id="Parfun" (click)="goSousCategorie($event)" >Autres-Cosmétique</a></li>
                   
                  </ul>
                </li>

                <li *ngIf="!isDashboard"><a  id="Jouet" (click)="goPageArticles($event)" >Jouet</a></li>
            
                <li *ngIf="!isDashboard"><a [routerLink]="['/contact']" >Contact</a></li>


            </ul>
          </div>
        </div>
      </div>       
    </div>
</section>

-->