.style-item-navbar{
    font-weight: 400;
}

.style-item-navbar:hover{
    background-color: rgba(0,0,0,0.1);
}

.style-item-navbar-active{
    background-color: red;
}

.style-ul{
    max-width: 40em !important;
}

//new navbar
/*
.menu-bar{
    background: #ff6666;
    height: 40px;
}

.menu-bar ul{
    display: inline-flex;
    list-style: none;
    color:#fff;
}

.menu-bar ul li a{
    font-size:17px;
    color:white;
    font-weight: 400;
    padding: 10px;
    
}

.menu-bar ul li {
    padding: 7px;
}

.sub-menu-1{
    display: none;
    flex-flow: column wrap;
    min-width: 100px;
    position: absolute;
}

.menu-bar ul li:hover{
    background-color: white;
    
}

.menu-bar ul li:hover a{
    color: #ff6666;
    
}

.menu-bar ul li:hover .sub-menu-1{
    display: block;
    position: absolute;
    background: white;
    margin-left: -15px;
    z-index: 100;
}

.menu-bar ul li:hover .sub-menu-1 ul{
   display: block; 
   margin: 10px;
}

.menu-bar ul li:hover .sub-menu-1 ul li{
    padding: 5px;
   
    border-radius: 0;
    text-align: left;
}

.sub-menu-2{
    display: none;
    flex-flow: column wrap;
    min-width: 100px;
    position: absolute;
}

.menu-bar ul li:hover .sub-menu-1 ul li:hover .sub-menu-2 {
    display: block;
    position: absolute;
    background: white;
    top: 0px;
    left: 100%;

    z-index: 100;
    border:black solid 2px;
    min-width:200px ;
    
}
*/
// new navbar

style-navbar-ul{
    width: auto !important; 
    margin: 0px auto; 
    //margin:calc(100% - style-navbar-ul.offsetWidth());
}



//tuto navbar


.nav{
    width: 100%;
}

.nav ul {
    margin: 0px;
    padding: 0px;
    background: #ff6666;
    list-style:none;
    width: 100%;
}

.nav ul li ul {
    margin: 0px;
    padding: 0px;
    background: white;
    list-style:none;
    width: 100%;
}

.nav a {
    padding: 1em;
    display: block;
    text-align:center;
    text-decoration: none;
}

.nav .menu a{
   color: white;
   font-size:15px;
}

.nav .menu li:hover > a{
    color: #ff6666;
    background:white ;
}

    
.sous-menu li a{
    color: rgb(49, 46, 46) !important;
    font-size:14px !important;
    padding: 5px 10px !important; 
}

.sous-menu li:hover > a {
   background:#ff6666 !important;
   color:white !important;
}
    
  .nav .menu {
      display: flex; /*1*/
      flex-direction : row; /*2*/
      justify-content: center; /*3*/
    
      @media screen and (max-width: 1000px) {
        flex-flow: column wrap; /*4*/
      }
  }

  .has-children { /*1*/
    position: relative;
  }

  .has-children:hover > .sous-menu { /*2*/
    display: flex;
  }



  .sous-menu .sous-menu { /*5*/
    top: 0px;
    left: 100%;
    background: white;
  }

.sous-menu {
    display: none;
    flex-flow: column wrap;
    min-width: 200px;
    position: absolute;
    background: white;
    border:0.3px solid rgb(117, 117, 117);
    z-index: 100;
    @media(max-width: 450px) {
      position: static;
    }
}

.sous-menu.is-active {
        display: flex!important;
}



.sous-menu a { /*4*/
    text-align: left;
        @media(max-width: 450px) {
      text-align: center;
    }
    color:#ff6666;
  }

.sous-menu .sous-menu {
    top: 0px;
    left: 100%;
    background: white;
}

.toggle-button {
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
    z-index: 100;
    margin:12px 10px;
    float: right;
    padding:1px;
    display: none;
}

nav{
    background-color:#ff6666;
}

.toggle-button .bar{
    height: 3px;
    width: 100%;
    background-color: white !important;
    border-radius: 10px;
    z-index: 102;
}


@media screen and (max-width: 1000px) {
    .toggle-button{
        display: flex;
    }

    .nav .menu{
        display:none;
    }
   
    .nav .active{
        display:flex;
    }
}

@media screen and (max-width: 1000px) {

   
    .width-100{
        width: 100%;
        margin-left: 0px !important;
        margin-right: 0px !important;
        
       
    }

    .width-padding-100{
        width: 100%;
        margin-left: 0px !important;
        margin-right: 0px !important;
        padding-left: 0px !important;
        padding-right: 0px !important;
        
    }
    
}