

<app-index-bar nom="Marques"></app-index-bar>



 <section id="tab" >
    <div class="container"  >
      <div class="row" style="padding:20px 0px; ">

        <div class="col-md-12" style="margin:10px auto;">
           <button type="button" class="btn btn-primary" style="padding:10px; font-size: 12px; float:right;" (click)="openAddMarque()"> Ajouter Marque</button>
        </div>

        <div class="col-lg-10 col-md-12 col-sm-12 col-12 " style="margin:10px auto;">
            
            <div class="col-lg-3 col-md-3 col-sm-3 col-12" style="max-width: 500 !important;">
                   <h2 style="color:coral;font-size: 25px; font-weight: 600; margin: 30px 2px; margin-bottom: 0px;">Categories</h2>
                   <hr style="background-color: coral; width: 100%; height: 2px; margin-top: 0px; margin-bottom: 20px;">
                   <ul>

                      <div *ngFor="let l of tabSousCategories">
                        <li class="item-categorie" > <div style="display: inline-flex;" > <div [id]="l.categorie.id" [class]="l.class" (click)="choisirCategorie($event)"> </div> {{l.categorie.nom}} </div> </li>
                      </div>
                   
                   </ul>
            </div>

            <div class="col-lg-9 col-md-9 col-sm-9" style="margin:10px auto;">
                <table class="table">
                    <thead class="thead-light" style="background-color: rgba(233, 44, 123, 0.61) !important;">
                      <tr>
                        <th class="style-font-tab" scope="col">Nom</th>
                        <th class="style-font-tab display-hidden" scope="col">Categorie-0</th>
                        <th class="style-font-tab display-hidden" scope="col">Categorie-1</th>
                        <th class="style-font-tab display-hidden" scope="col">Categorie-2</th>
                   
                        <th class="style-font-tab" scope="col"></th>
                      </tr>
                    </thead>
                    <tbody>
                      
                      <tr *ngFor="let e of tabMarques">
                        <th class="style-font-tab" scope="row">{{e.nom}}</th>
                        <td class="style-font-tab display-hidden">{{e.nomCategorie}}</td>
                        <td class="style-font-tab display-hidden">{{e.nomSousCategorie}}</td>
                        <td class="style-font-tab display-hidden">{{e.nomSousSousCategorie}}</td>
                        <td class="style-font-tab"> 
                          <button [id]="e.id" (click)= "openModifiedMarque($event)" type="button" class="btn btn-warning" style="padding: 5px; font-size: 12px;">Modifier</button>
                          <button [id]="e.id" (click)= "openDeleteMarque($event)" type="button" class="btn btn-danger" style="padding: 5px; font-size: 12px; margin-right: 10px;">Supprimer</button>
                        </td>
                      </tr>
                      
                    </tbody>
                  </table>
            </div>
            </div>
        </div>
    </div>
</section>

