<ol class="breadcrumb">
    <li><a href="index.html" style="font-size:15px; margin-left:10px; font-weight: 600;">Accueil</a></li>         
    <li class="active" style="font-size:15px; font-weight: 600;">{{nom}}</li>
  </ol>

