.style-message{
    background-color: white; 
    margin:10px; 
    font-weight:600;  
    display: inline-block; 
    padding:5px 10px; 
    border-radius: 25px;
    margin-top: 0px;
}

.style-right{
   float: right;
}


.style-heure-date{
   font-size: 10px;
   font-weight: 500;
}

.style-text-message{
    font-size: 17px;
    font-weight: 400;
}

.style-icon{
    width:50px; 
    height: 50px; 
    border-radius:100px ; 
    border:#ff6666 solid 1px;
    margin-bottom:auto;
    vertical-align: top;
  
}