    <img *ngIf="isAdmin" src="assets/img/118765383_1711420355676427_1541322040878677988_n.png" class="style-icon" style="float:right;">
   
    <img *ngIf="isMan" src="assets/img/118716776_332776658160619_6996958013828374184_n.png" class="style-icon" >
    
    <img *ngIf="isWomen" src="assets/img/118703842_229279201841833_5305720426546328766_n.png" class="style-icon" >
   
   
    <p [class]="className">
          
        <span class="style-text-message">
          {{message.message}}
        </span>
        
        <br>
        <br>
        
        <span class="style-heure-date">
            {{message.heure}}
        </span>

        <span class="style-heure-date" style="margin-left: 10px;">
            {{message.date}}
        </span>

        <span *ngIf="message.isVue" class="style-heure-date" style="margin-left: 10px; font-size: 12px; font-weight: 800; color:#ff6666;">
            vue
        </span>
    
    </p>

