.style-font-tab{
    font-size: 13px !important;
}


.style-image{
    height: 150px;
  }
  
  @media screen and (max-width: 1000px) {
      .style-image{
          height: 80px;
          max-width: 100px;   
      } /*4*/
  
      .display-hidden{
          display:none;
      }
  }  