<app-index-bar nom="Commandes"></app-index-bar>


 <section id="tab" >
  <div class="container"  >
    <div class="row" style="padding:20px 0px; ">
      <div style="margin-left: auto; margin-right: auto;">
        <button id="enAttent" (click)="clickEtat($event)" type="button" class="btn btn-primary button-etat" style="padding: 10px; font-size: 15px;">Attendre</button>
        <button id="accepte" (click)="clickEtat($event)" type="button" class="btn btn-primary button-etat" style="padding: 5px; font-size: 12px;">Accepter</button>
        <button id="refuse" (click)="clickEtat($event)" type="button" class="btn btn-primary button-etat" style="padding: 5px; font-size: 12px;">Refuser</button>
        <button id="fini" (click)="clickEtat($event)" type="button" class="btn btn-primary button-etat" style="padding: 5px; font-size: 12px;">Finir</button>
      </div>
    </div>
    <div class="row" style="padding:20px 0px; ">
      <app-loading *ngIf="charge"></app-loading>
      <table class="table" *ngIf="!charge">
          <thead class="thead-light" style="background-color: rgba(233, 44, 123, 0.61) !important;">
            <tr>
              <th *ngIf="isAdmin" class="style-font-tab" scope="col">Num_Client</th>
              <th class="style-font-tab" scope="col">Num_Commande</th>
              <th class="style-font-tab display-hidden" scope="col">date</th>
              <th class="style-font-tab display-hidden" scope="col">etat</th>
              <th class="style-font-tab" scope="col"></th>
            </tr>
          </thead>
          <tbody>

            <tr *ngFor="let e of tabCommandes">
              <th *ngIf="isAdmin" class="style-font-tab" scope="row">{{e.client.num}} <span *ngIf="e.isShow" style="background-color: red; color: white; padding:0px 5px; border-radius: 25px; margin-left:10px;">NEW</span></th>
              <td class="style-font-tab">{{e.num}}</td>
              <td class="style-font-tab display-hidden">{{e.createdAt}}</td>
              <td class="style-font-tab display-hidden">{{e.etat}}</td>
              <td class="style-font-tab"><button [id]="e.id" type="button" class="btn btn-primary" style="padding: 5px; font-size: 12px;" (click)="openDetailsCommande($event)">Afficher</button></td>
            </tr>
            
          </tbody>
        </table>

      </div>
  </div>
</section>

<div class="row">

  <app-pagination [page]="page" [totalPage]="totalPage" (setPageEvent)="setPage($event)" style="margin:10px auto;"> </app-pagination>

</div>



