
<app-index-bar nom="Ajoute article"></app-index-bar>


<div *ngIf="isLoading" style="height: 200px;">
   <app-loading></app-loading>
</div>


<!-- Cart view section -->
<section id="aa-myaccount" *ngIf="!isLoading">
 <div class="container">
   <div class="row">
     <div class="col-md-12">
      <div class="aa-myaccount-area">         
          <div class="row">
            <div class="col-md-12">
              <div class="aa-myaccount-register">                 
               <h4>Nouveau article</h4>
               <form [formGroup]="formC" >
                <div class="row">
                  <div class="col-md-6">
                        
                  <label for="" class="style-label-text font-size-login" >Nom<span>*</span></label>
                  <input type="text" formControlName="nom"  id="exampleInputEmail1" class="style-input-text font-size-login">
                
                  <label for="" class="style-label-text font-size-login">Prix<span>*</span></label>
                  <input type="number" formControlName="prix"  id="exampleInputEmail1" class="style-input-text font-size-login">
                  
                  <label for="" class="style-label-text font-size-login">Réf</label>
                  <input type="text" formControlName="ref"  id="exampleInputEmail1" class="style-input-text font-size-login">

                  <label for="" class="style-label-text font-size-login">Description</label>
                  <input type="text" formControlName="description"  id="exampleInputEmail1" class="style-input-text font-size-login">

                  
                  
                  
                  <label for="" class="style-label-text font-size-login">Image<span>*</span></label>
                  <span style="color:red;" *ngIf="message" class="font-size-login">{{message}}</span>
                  <input #file type="file" accept='image/*' (change)="selectedM($event)"  />
                  <img [src]="imgURL" height="200" *ngIf="imgURL">

                  
                   
                </div>
                <div class="col-md-6">
                 
                
               
                  
                  <div class="row font-size-login" style="margin-top: 20px; margin-bottom: 150px;">
                    <div class="col-md-12">
                  <label  class="font-size-login" for="">Categorie Niveau-0 <span>*</span></label>
    
                  <select formControlName="categorie" style="margin-left:50px;" class="form-control form-control-lg font-size-login" (change)="changeCategorie($event)" style="font-size:20px; height:40px !important; width: 80% !important;color:black;">
                    <option [value]="e.id" class="font-size-login" *ngFor="let e of tabCategories">{{e.nom}}</option>
                    <option value="0" class="font-size-login" >Aucun</option>
                  </select>

                  <label  class="font-size-login" for="" style="float:left; margin-top:10px;">Categorie Niveau-1 <span>*</span></label>
               
                  <select [id]="0"   formControlName="sousCategorie" (change)="changeSousCategorie($event)" class="selector-2-niveau form-control form-control-lg sous-categorie-22" >
                    <option value="0" [selected]="true" class="font-size-login sous-categorie-option" >Aucun</option>
                  </select>
                 
                  <select [id]="e.categorie.id"  *ngFor="let e of tabSousCategories" style="visibility: hidden;" formControlName="sousCategorie" (change)="changeSousCategorie($event)" class="selector-2-niveau form-control form-control-lg sous-categorie-22" >
                      <option value="0" [selected]="true" class="font-size-login sous-categorie-option" ></option>
                      <option  *ngFor="let l of e.sousCategories" [value]="l.sousCategorie.id"  class="font-size-login sous-categorie-option"   >  {{l.sousCategorie.nom}} </option>
                  </select>

           
                  <label  class="font-size-login" for="" style="float:left; position:absolute; top:175px; left:15px ">Categorie Niveau-2 <span>*</span></label>
                 
                  <select [id]="1000"  formControlName="sousSousCategorie" class="selector-3-niveau form-control form-control-lg sous-categorie-33" >
                    <option value="0" [selected]="true" class="font-size-login sous-categorie-option" >Aucun</option>
                  </select>
                   

                  <div *ngFor="let e of tabSousCategories">
                    <div *ngFor="let l of e.sousCategories">
                  
                      <select [id]="l.sousCategorie.id"  (click)="changeSousSousCategorie($event)" style="visibility: hidden;" formControlName="sousSousCategorie" class="selector-3-niveau form-control form-control-lg sous-categorie-33 font-size-login" >
                          <option value="0"  [selected]="true" class="font-size-login sous-categorie-option" ></option>
                          <option   [value]="p.id"  class="font-size-login sous-categorie-option"  key="3" *ngFor="let p of l.sousSousCategories">  {{p.nom}} </option>
                      </select>

                    </div>
                  </div>
               
                
              </div>             
            </div>
          
            <button type="submit" (click)="ajout()"  class="aa-browse-btn" style="float: right; margin-right: 0px;">Ajouter</button>                    
     

          </div>
                      
              </div>
                </form>

                <div class="row">
                  <div class="col-md-6">
                
                      <div class="row" style="margin-top: 0px;">
                        <div class="col-md-12">
                           <label  class="font-size-login style-marques" for="" style="float:left;">Marques <span>*</span></label>
                           <input type="text" [(ngModel)]="marque" #ctrl="ngModel" class="style-input-text font-size-login" (ngModelChange)="selectMarques()" >
                        </div>
                      </div>
                  
                      <div class="row" style="margin-top: 0px;" style=" margin:5px; background-color: rgb(231, 221, 221);  overflow: scroll; height: 200px; ">
                        <div class="col-md-12">
                           <ul>
                               <li *ngFor="let l of marquesFilters" [id]="l.nom" class="marque-recherche" (click)="setMarque($event)"> {{l.nom}} </li>
                           </ul>
                        </div>
                      </div>
                
                    </div>

                    <div class="col-md-6">
                
                
                    </div>
               
                </div>

             </div>
            </div>
          </div>          
       </div>
     </div>
   </div>
 </div>
</section>




