<div class="modal-header">
    <h4  class="modal-title">Modifier Categorie</h4>
   
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  
  
  <div class="modal-body">
    <form class="aa-login-form" [formGroup]="formC" >
     
      <label class="font-size-login" for="">Nom Marque<span>*</span></label>
      <input class="font-size-login" type="text" placeholder="Categorie"  formControlName="nom" id="exampleInputEmail1" style="width: 90%; height: 40px; border: 1px solid #ccc; padding:0px 2px;">
     
   
      <button class="aa-browse-btn font-size-login" type="submit" (click)="updateCategorie()" style="margin-bottom: 20px; margin-top:100px; float: right;">modifier</button>
      <br>  <br>  <br>  <br>
      
    </form>
  </div>
  
 

