.font-size-login{
    font-size:15px;
}


.style-titre{
    margin:5px; font-size: 14px; font-weight: 800;
}

.style-sous-titre{
    margin:5px; font-size: 14px; font-weight: 500;
}

.style-font-tab{
    font-size: 12px;
}