                          <div class="modal-header">
                            <h4 class="modal-title">Article Details</h4>
                            <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
                              <span aria-hidden="true">&times;</span>
                            </button>
                          </div>

                          <app-loading *ngIf="loading"></app-loading>

                          
                          
                          <div class="modal-body" *ngIf="!loading">
                            <div class="col-md-12" *ngIf="article">
                            
                            <div class="col-md-6" style="text-align: center; overflow: hidden;">
                                <img [src]="article.image"  style="margin: 5px auto ; max-height:300px ; width:100%; border:coral solid 5px;" >
                            </div> 

                            <div class="col-md-6" style="padding:5px">
                                <div style="margin:5px auto; text-align: center; font-size:20px; color:coral; font-weight: 800;">
                                    <span *ngIf="article.nom" >{{article.nom}}</span> <br> 
                                </div>
                                <span class="style-titre">Prix : </span>
                                <span class="style-sous-titre" *ngIf="article.prix" style="font-size: 17px; color:coral;" >{{article.prix}} DT</span> <br>
                      
                                <span class="style-titre">Reference : </span>
                                <span class="style-sous-titre"  >{{article.ref}}</span> <br>
                                
                                <span class="style-titre">Marque : </span>
                                <span *ngIf="article.nomMarque" class="style-sous-titre" >{{article.nomMarque}}</span> <br> <br>
                                
                                <div  *ngIf="isDashboard">
                                  <span class="style-titre">Activation : </span>
                                  <span class="style-sous-titre" >{{isEnabled}}</span> <br> <br>
                                </div>
                                
                                <span class="style-titre">Description : </span>
                                <span class="style-sous-titre" >{{article.description}}</span> <br> <br>
                                 
                                <span class="style-titre" *ngIf="isFacilite">Facilite : </span>

                                <table class="table" style="overflow-x: scroll;" *ngIf="isFacilite">
                                  <thead class="thead-light">
                                    <tr>
                                      <th class="style-font-tab" scope="col">3 mois</th>
                                      <th class="style-font-tab" scope="col">6 mois</th>
                                      <th class="style-font-tab" scope="col">9 mois</th>
                                      <th class="style-font-tab" scope="col">12 mois</th>
                                    </tr>
                                  </thead>
                                  <tbody>
                                    <tr>
                                      <td class="style-font-tab">{{article.threeMonthe}} DT/Mois</td>
                                      <td class="style-font-tab">{{article.sexMonthe}}  DT/Mois</td> 
                                      <td class="style-font-tab">{{article.nineMonthe}}  DT/Mois</td>
                                      <td class="style-font-tab">{{article.tweleveMonthe}}  DT/Mois</td>
                                    </tr>
                                  </tbody>
                                </table>
                       

                                <div  *ngIf="isPromo" style="background-color:coral; color: white;">
                                  <h2>Promotion ({{article.pourcentageRemise}}%) </h2>
                                  <span class="style-titre">Prix : </span>
                                  <span class="style-sous-titre" style="font-size: 17px;" >{{article.newPrix}}DT </span> <br>
  
                                  <span class="style-titre">Date de debut : </span>
                                  <span class="style-sous-titre" >{{article.dateDebut}} </span> <br>
  
                                  <span class="style-titre">Date de fin : </span>
                                  <span class="style-sous-titre" >{{article.dateFin}}</span> <br>
  
                                </div>

                                
                                <div  *ngIf="isAdmin" style="background-color:blue; color: white;">
                                   
                                     <span class="style-titre">Nom Proprietaire : </span>
                                     <span class="style-sous-titre" *ngIf="article.proprietaire.nom">{{article.proprietaire.nom}} {{article.proprietaire.prenom}}</span> <br>
     
                                     <span class="style-titre">Email Proprietaire : </span>
                                     <span class="style-sous-titre" *ngIf="article.proprietaire.email" >{{article.proprietaire.email}} </span> <br>
     
                                     <span class="style-titre">Telephone Proprietaire : </span>
                                     <span class="style-sous-titre" *ngIf="article.proprietaire.telephone" >{{article.proprietaire.telephone}} </span> <br>
     
                                     <span class="style-titre">Nom Boutique : </span>
                                     <span class="style-sous-titre" *ngIf="article.proprietaire.nomBoutique" >{{article.proprietaire.nomBoutique}}</span> <br>
     
                                     <span class="style-titre">Categorie Boutique : </span>
                                     <span class="style-sous-titre" *ngIf="article.proprietaire.categorie" >{{article.proprietaire.categorieBoutique}}</span> <br>
                      
                                </div>
                              
                              </div> 
                          </div>

                          <form *ngIf="!isDashboard" class="aa-login-form" [formGroup]="formC" style="display: inline-flex; float: right;">
    
                            <label class="font-size-login" for="">Quantité<span>*</span></label>
                            <input class="font-size-login" type="number" formControlName="quantite" value="1" id="exampleInputEmail1" style="width: 70px; height: 30px; border: 1px solid #ccc; padding:0px 2px; margin:4px 20px;">
                           
                             
                            <button class="aa-browse-btn font-size-login" type="submit" (click)="ajouterAuPanier()" style="margin:0px; height: 35px; margin:2px; padding:5px;">Ajouter au panier</button>
                            <br>  <br>  <br>  <br>
                           
                            <div *ngIf="isAchete" style="font-size: 20px; font-weight: 800;text-align: center;  background-color: red; color:white; width: 100px; position: absolute; top:10px; transform: rotate(20grad); right:0px;"> Deja au panier </div>
                      
                          </form>

                          
                          <div class="row" *ngIf="isDashboard">
                            <div style="margin-left: auto; margin-right: 7px;">
                                <button *ngIf="!isEnabled" (click) ="activeOrDesactive()" type="button" class="btn btn-primary button-etat" style="padding: 5px; font-size: 12px;">Activer</button>
                                <button *ngIf="isEnabled" (click) ="activeOrDesactive()" type="button" class="btn btn-danger button-etat" style="padding: 5px; font-size: 12px;">Desactiver</button>
                            </div>
                          </div>

                        </div>
                       