
           <!-- cart box -->
           <div class="aa-cartbox" style="width: 40px; height: 40px; margin-right: 30px; margin-bottom: 20px;">
            <a class="aa-cart-link" [routerLink]="['/panier']" style="width: 40px; height: 40px;" >
              <span class="fa fa-shopping-basket" style="margin-top: 4px !important;"></span>
              <span class="aa-cart-title" style="margin-top: 4px !important;">Panier</span>
              <span class="aa-cart-notify">{{length}}</span>
            </a>
            <div class="aa-cartbox-summary" style="right: -34px; top:60px">

              <div *ngIf="isLoading" style="height: 200px;">
                <app-loading></app-loading>
             </div>
            
             <div *ngIf="!isLoading">
              <ul>
               
                <li *ngFor="let e of panier">
                  <a class="aa-cartbox-img" [routerLink]="['/panier']" *ngIf="e.article"><img *ngIf="e.article.image" [src]="e.article.image" alt="img"></a>
                  <div class="aa-cartbox-info">
                    <h4 *ngIf="e.article" ><a *ngIf="e.article.nom" >{{e.article.nom}}</a></h4>
                    <app-item-navbar-panier *ngIf="e.article" [item]="e"></app-item-navbar-panier>
                  </div>
                  <a  class="aa-remove-product" *ngIf="e.article" > <span *ngIf="e.article.id" [id]="e.article.id" (click)="deleteItemPanier($event)" class="fa fa-times"></span></a>
                </li>
               
                <li>
                  <span class="aa-cartbox-total-title">
                    Total
                  </span>
                  <span class="aa-cartbox-total-price">
                    {{prixTotal}} DT
                  </span>
                </li>
              </ul>
              <a class="aa-cartbox-checkout aa-primary-btn" (click)="envoyer()">Envoyer commande</a>
             </div>
            </div>
          </div>
          <!-- / cart box -->