

<figure class="class-style">
    <a class="aa-product-img" style="padding:0px; width:100%;" ><img [src]="article.image" alt="polo shirt img" [id]="article.id" (click)="openDetailsArticle()" style="width:100%; height: 200px; position: absolute; top:0px; left:0.2px"></a>
    <a *ngIf="!isDashboard" style="width:100%; margin-left:0.2px;" class="aa-add-card-btn" (click)="openDetailsArticle()" ><span class="fa fa-shopping-cart"></span>Ajouter au panier</a>
    <a *ngIf="isDashboard" class="aa-add-card-btn" (click)="openModifiedArticle()" ><span class="fa fa-shopping-cart"></span>Modifier</a>
    <a *ngIf="isDashboard" style="top:0px; height: 40px;" class="aa-add-card-btn" (click)="openSupprimerArticle()" ><span class="fa fa-shopping-cart"></span>Supprimer</a>
  
    <figcaption style="margin-top:220px;">
      <h4 ><a  style="font-weight: 600; color:black; " >{{article.nom}}</a></h4>
      
      <span *ngIf="isPromo" class="aa-product-price" style="font-size:20px;">{{article.newPrix}} DT</span><span *ngIf="isPromo" class="aa-product-price"><del>{{article.prix}} DT</del></span>
      <span *ngIf="!isPromo" class="aa-product-price" style="font-size:20px;">{{article.prix}} DT</span>
                           
      <br> <span *ngIf="isAdmin" class="aa-product-price" style="font-size: 12px; font-weight: 500; background-color: red; color: white; padding:0px 5px;"> {{article.nomBoutique}}</span>
    </figcaption>
   
    <div *ngIf="isAchete" style="padding:2px 2px; overflow:hidden;font-size: 20px; font-weight: 800;text-align: center;  background-color: red; color:white; width: 100px; position: absolute; top:5px; transform: rotate(20grad); right:-12px;"> Panier ({{quantitePanier}})</div>
    
    <div *ngIf="isEnabled" style="padding:2px 2px; overflow:hidden;font-size: 20px; font-weight: 800;text-align: center;  background-color: red; color:white; width: 100px; position: absolute; top:5px; transform: rotate(-20grad); left:-12px;">Desactive</div>
                      
</figure>                          
