
<div class="btn-show2" *ngIf="isAdmin" >
   <button class="btn btn-danger" (click)="goCommandes()"> 
      <span *ngIf="nbrCommandesNonLus" style="z-index: 100; font-size:20px; position: absolute; top: 0px; right: 10px; border-radius: 100px; padding:0px 10px; background-color: rgb(9, 9, 170);"> {{nbrCommandesNonLus}}</span> 
      <span class="fa fa-money" style="font-size: 30px;"></span> 
   </button>
</div>

<div class="btn-show">
   <button class="btn btn-danger" (click)="GetThisDisplayed()"> 
      <span *ngIf="nbrMessageNonLus" style="z-index: 100; font-size:20px; position: absolute; top: 0px; right: 10px; border-radius: 100px; padding:0px 10px; background-color: rgb(9, 9, 170);"> {{nbrMessageNonLus}}</span> 
      <span class="fa fa-comments-o" style="font-size: 30px;"></span> 
   </button>
</div>

<div class="interface-chat MyClass style-navbar-mobile-active">
 <div class="style-title" style="overflow: hidden;">
    <img src="assets/img/118765383_1711420355676427_1541322040878677988_n.png" class="style-icon2" >
    <span style="color:white; font-size:30px; font-weight: 600; padding:5px; padding-left: 0px; font-style: italic;"> Errahma Stores </span>
    <button class="btn btn-danger" (click)="GetThisHidden()"  style="padding:0px; position:absolute; right: 10px; top:10px;"> <span class="fa fa-window-close" style="border-radius: 25px; font-size: 30px;"></span> </button>
 </div> 
 
 <div class="style-body">

   <div class="container">
      <div class="col-12"  id="body">
         <div class="row" *ngFor="let e of messages" >
            <app-message-chat  [message]="e" [user]="user" style="width: 100%;"></app-message-chat>
         </div>
         <div class="row end" >
            <app-loading *ngIf="charge"></app-loading>
         <h2></h2>
         </div>
      </div>
   </div>
     
   <div class="style-connection" *ngIf="isConnected">
      <form  [formGroup]="formD" style="width: 100%; text-align: center;" >
         
          <input  class="style-input-footer" style="margin: 5px;" type="text" placeholder="Email"  formControlName="email" id="exampleInputEmail1" >
       
          <input  class="style-input-footer" type="text" placeholder="Nom"  formControlName="name" id="exampleInputEmail1">

          <img id="0" src="assets/img/118716776_332776658160619_6996958013828374184_n.png" class="style-icon style-icon-active" (click)="changeSexe(0)" >
          
          <img id="1" src="assets/img/118703842_229279201841833_5305720426546328766_n.png" class="style-icon" (click)="changeSexe(1)" >
          
          <button class="btn btn-danger" type="submit" (click)="register()" style="font-size: 12px;"> Continue </button>
        
      </form>
   </div>

 </div>
 
 <div class="style-footer">
    <form  [formGroup]="formC" style="display:inline-flex; width: 100%;">
       
        <input  class="style-input-footer" type="text" placeholder="message"  formControlName="message" id="exampleInputEmail1">
        <button class="btn btn-danger style-button-footer" type="submit" (click)="envoyerMessage()" > <span class="fa fa fa-send-o" style="font-size: 30px;"></span> </button>
      
    </form>
 </div>
    
</div>

