.btn-show{
    position:fixed;
    bottom: 70px; 
    right: 8px; 
    z-index: 99; 
    padding:12px;
}

.btn-show2{
  position:fixed;
  bottom: 130px; 
  right: 8px; 
  z-index: 99; 
  padding:12px;
}

.interface-chat{
    position:fixed;
   
    max-width: 100%;
    height: 100%;
    max-height: 520px;
    width: 400px;
    right: 30px; 
    bottom:20px;
    z-index: 101;
    background-color:transparent;
    border-radius: 25px;

}

@media (max-width: 500px){
 
  .interface-chat{
    width: 100%;
    right: 0px;
  }
}


.style-icon2{
  width:48px; 
  height: 48px; 
  border-radius:100px ; 
  border:#ff6666 solid 1px;
  margin:5px;
  vertical-align: top;

}

  .style-navbar-mobile-active{
    display: none;
  }
  
  .style-navbar-mobile-active2{
    display: block;
    animation-duration: 1s;
    animation-name: slidein2;
  }
  
  @keyframes slidein2 {
    from {
      right: -500px;
    }
  
    to {
        right: 0px;
    }
  }

  .style-title{
      background-color: red;
      height: 60px;
      width: 100%;
      border-top-left-radius:25px;
      border-top-right-radius:25px;
      border-left:black solid 1px;
      border-right:black solid 1px;
      border-top: black solid 1px;
  }

  .style-body{
    margin: 0px;
    background-color: rgb(161, 161, 161);
    height: calc(100% - 120px);
    width: 100%;
    overflow-y: scroll;
    border-left:black solid 1px;
    border-right:black solid 1px;
  }

  .style-footer{
    background-color: white;
    height: 60px;
    width: 100%;
    padding:10px;
    border-bottom-left-radius:25px;
    border-bottom-right-radius:25px;
    border-left:black solid 1px;
    border-right:black solid 1px;
    border-bottom: black solid 1px;
  }

  .style-input-footer{
      width: 80%;
      height: 40px;
      border: red solid 2px;
      border-radius: 25px;
      padding-left: 10px;
      font-size: 15px;
      font-weight: 600;
      color:black;
  }

  .style-button-footer{
    height: 45px;
    margin:0px;
    margin-left:10px;
    border-radius:25px;
  }

  .style-connection{
    position: absolute;
    padding:20px;
    left:0px;
    right:0px;
   
    top:0px;
    bottom: 0px;
    margin: auto;
    max-width: 300px;
    max-height: 300px;
    
    background-color: white;
  }

  .style-icon{
    width:70px; 
    height: 70px; 
    border-radius:100px ; 
    border:#ff6666 solid 1px;
    margin:5px;
    vertical-align: top;
  }

  .style-icon:hover{
    border: chartreuse 5px solid;
  }

  .style-icon:active{
    border: red 5px solid;
  }

  .style-icon-active{
    border: red 5px solid;
  }