

<section id="aa-catg-head-banner">
    <img src="assets/img/Sans titre - 1-1 copie.jpg" class="style-image" alt="fashion img">
     
   </section>

   <app-index-bar nom="Présentation"></app-index-bar>

   <p style="color: transparent!important;">dvsvcsvsvvvss</p>
<div class="aboutus-secktion paddingTB60">
  <div class="container">
    <div class="row" style="">
      <div class="col-md-6">
        <h1 class="strong" style="color: #333; font-weight: 600;" >A propos de nous</h1>
        <p class="lead" style="font-weight: 600;
        font-style: italic;
        color: #494949;
        font-size: 13px;">Il s'agit du premier portail mondial pour<br> et rapide </p>

    
      </div>
      <div class="col-md-6" style="text-justify:distribute;">
        <p style="font-weight: 600;
        font-style: italic;
        font-family: 'Times New Roman';
        color: #494949;
        font-size: 15px;">Errahma stores, boutique en ligne de vente de divers produits. Fait partie du groupe : société perspective et
          l’établissement Boubaker, qui a été fondé par une équipe passionnés constamment à la recherche d’innovation et
          de nouvelles tendances. Errahma stores propose les offres les plus diversifiées de l’e-commerce toujours au
          meilleur prix, notamment pour les fournitures scolaires et bureautiques en gros ou en détails, ainsi que des
          outils informatiques, téléphoniques, des accessoires, des vêtements, du tissu, couture en ligne, des locations
          et des ventes de robe de soirée et de mariage, des cadeaux personnalisés, jouets, sport et loisirs,
          matériel de cuisson, ustensiles de cuisine, électroménager, accessoires de table, maison et déco ainsi que de
          nombreux autres produits. Nous vous proposons des produits de qualité au meilleur prix, ainsi qu’une très
          grande diversité de marque, et de produit de haute qualité proposée pour votre plus grand bonheur. N’oubliant
          pas que l’on peut également profiter d’un large choix de produits de beauté et de bien-être, pharmacie, où
          l’on peut y trouver en l’occurrence des sèche-cheveux, produit cosmétique bio, maquillage à bas prix. Errahma
          stores livre ses produits sur tout le territoire Tunisien, la réception de vos colis se fera entre 24h / 48h
          après votre commande. Pour les frais de livraisons ils seront étudiés en fonction des produits commandés, il y
          a également une option paiement lors de la réception du colis. Dans le cadre de fidélisation du client,
          Errahma stores prend en charge de simplifier la politique d‘échange tout en respectant les normes de qualité
          nationale et internationales des services de livraison à domicile et d’après-vente.</p>
      </div>
    </div>
  </div>
</div>
<div class="container team-sektion paddingTB60">
  <div class="row">
    <div class="site-heading text-center" style="margin-left: auto;
    margin-right: auto;">
      <h3>Notre Equipe</h3>
      <p style="font-size: 13px; font-style: italic; font-weight: 600;">notre quipe vous assurez la bonne ensiegnement </p>
      <div class="border"></div>
    </div>
  </div>
  <!------ Include the above in your HEAD tag ---------->
  

  <div class="container">
    <div class="row">
      <!--team-1-->
      <div class="col-lg-4">
        <div class="our-team-main">
          <div class="team-front">
            <img src="assets/img/118703842_229279201841833_5305720426546328766_n.png" class="img-fluid" />
            <h3>Gérante Errahma Stores </h3>
            <p class="style-para">Rahma boubaker</p>
          </div>
          <div class="team-back">
            <span class="style-span">
              -Responsable de site Errahma store 
              <br>
			        <span class="fa fa-phone" style="margin-right: 3px;"></span> 25342257 
            </span>
          </div>
        </div>
      </div>
      <!--team-1-->
      <!--team-2-->
      <div class="col-lg-4">
        <div class="our-team-main">
          <div class="team-front">
            <img src="assets/img/118716776_332776658160619_6996958013828374184_n.png" class="img-fluid" />
            <h3>Gérant ETS Boubaker</h3>
            <p class="style-para">Jamel Boubaker </p>
          </div>
          <div class="team-back">
            <span class="style-span">
             -Gérant d'établissement de vente fournitures scolaires, bureautique et informatique en gros et détail
			<br> <span class="fa fa-phone" style="margin-right: 3px;"></span> 92887438 

            </span>
          </div>
        </div>
      </div>
      <!--team-2-->
      <!--team-3-->
      <div class="col-lg-4">
        <div class="our-team-main">
          <div class="team-front">
            <img src="assets/img/118703842_229279201841833_5305720426546328766_n.png" class="img-fluid" />
            <h3>Gérante STE Perspective</h3>
            <p class="style-para">Kaouther Messaoud</p>
          </div>
          <div class="team-back">
            <span class="style-span">
              -Société international de commerce en gros
			    <br>-Import et export tous produit divers
			    <br><span class="fa fa-phone" style="margin-right: 3px;"></span> 97769348 

            </span>
          </div>
        </div>
      </div>
      <!--team-3-->
      <!--team-4-->
      <div class="col-lg-4">
        <div class="our-team-main">
          <div class="team-front">
            <img src="assets/img/118703842_229279201841833_5305720426546328766_n.png" class="img-fluid" />
            <h3> Responsable Administratif  </h3>
            <p class="style-para" >Fadhila Ammar</p>
          </div>
          <div class="team-back">
            <span class="style-span">
              -Superviser et cordonner les procédures administratives
            </span>
          </div>
        </div>
      </div>
      <!--team-4-->
      <!--team-5-->
      <div class="col-lg-4">
        <div class="our-team-main">
          <div class="team-front">
            <img src="assets/img/118703842_229279201841833_5305720426546328766_n.png" class="img-fluid" />
            <h3>Responnsable Approvisionnement</h3>
            <p class="style-para">Safa Habbachi</p>
          </div>
          <div class="team-back">
            <span class="style-span">
             -Suivi des achats
			 <br>-Choix le meilleur prix
			 <br>-Control qualité, prix 
            </span>
          </div>
        </div>
      </div>
      <!--team-5-->
      <!--team-6-->
      <div class="col-lg-4">
        <div class="our-team-main">
          <div class="team-front">
            <img src="assets/img/118703842_229279201841833_5305720426546328766_n.png" class="img-fluid" />
            <h3>Responsableb Ressources Humain</h3>
            <p class="style-para">Samah hammami</p>
          </div>
          <div class="team-back">
            <span class="style-span">
              -Gestion du personnel 
			  -Conseil, coordination et Motivation 
            </span>
          </div>
        </div>
      </div>
      <!--team-6-->

    </div>
  </div>
  <div class="container">
    <div class="row">
      <!--team-1-->
      <div class="col-lg-4">
        <div class="our-team-main">
          <div class="team-front">
            <img src="assets/img/118716776_332776658160619_6996958013828374184_n.png" class="img-fluid" />
            <h3>Responsable Commércial</h3>
            <p class="style-para">Slim Blel</p>
          </div>
          <div class="team-back">
            <span class="style-span">
            -Assurer les stratégies commercial 
			<br>-Assister la relation clientèle
			<br>-Suivi commande
            </span>
          </div>
        </div>
      </div>
      <!--team-1-->
      <!--team-2-->
      <div class="col-lg-4">
        <div class="our-team-main">
          <div class="team-front">
            <img src="assets/img/118703842_229279201841833_5305720426546328766_n.png" class="img-fluid" />
            <h3>Réception</h3>
            <p class="style-para"> Ahlem Chatti</p>
          </div>
          <div class="team-back">
            <span class="style-span">
              
              -Accueils et renseignements  des clients

            </span>
          </div>
        </div>
      </div>
      <!--team-2-->
      <!--team-3-->
      <div class="col-lg-4">
        <div class="our-team-main">
          <div class="team-front">
            <img src="assets/img/118703842_229279201841833_5305720426546328766_n.png" class="img-fluid" />
            <h3>Service Livraison</h3>
            <p class="style-para">Nour Ben Rayana & Rihab Jenzri</p>
          </div>
          <div class="team-back">
            <span class="style-span">
			-Réceptions et préparations des commandes
			<br>-Suivi des livraisons et assister les réclamations

            </span>
          </div>
        </div>
      </div>
      <!--team-3-->
      <!--team-4-->
      <div class="col-lg-4">
        <div class="our-team-main">
          <div class="team-front">
            <img src="assets/img/118703842_229279201841833_5305720426546328766_n.png" class="img-fluid" />
            <h3>Contact client et service aprés vente</h3>
            <p class="style-para" >Meriam Nahhali</p>
          </div>
          <div class="team-back">
            <span class="style-span">         
-Assurer la bonne relation clientèle 
<br>-Suivie des réclamations des clients 
<br>-Service après vente 
<br><span class="fa fa-phone" style="margin-right: 3px;"></span>52769348
            </span>
          </div>
        </div>
      </div>
      <!--team-4-->
      <!--team-5-->
      <div class="col-lg-4">
        <div class="our-team-main">
          <div class="team-front">
            <img src="assets/img/118703842_229279201841833_5305720426546328766_n.png" class="img-fluid" />
            <h3>Responsable de média et réseau socieaux</h3>
            <p class="style-para">Abir Garma</p>
          </div>
          <div class="team-back">
            <span class="style-span">              
		<br>	-Assister la bonne démarche du site et les pages média 
            </span>
          </div>
        </div>
      </div>
      <!--team-5-->
      <!--team-6-->
      <div class="col-lg-4">
        <div class="our-team-main">
          <div class="team-front">
            <img src="assets/img/118716776_332776658160619_6996958013828374184_n.png" class="img-fluid" />
            <h3>Service Informatique et maintenance</h3>
            <p class="style-para" >Raed Boubaker & Nouri Chaouch & Hosni Zbedi</p>
          </div>
          <div class="team-back">
            <span class="style-span">
    -Gerer les besoins en solution informatique
<br>-Veiller en permanence l’efficacité du parc informatique
<br>-Maintenance 
<br><span class="fa fa-phone" style="margin-right: 3px;"></span> 92469187
            </span>
          </div>
        </div>
      </div>
      <!--team-6-->


    </div>
  </div>
  <p style="color: transparent;">dsdsl,ls,dls,dsl,ls,sdl,sd</p>