
<div class="modal-header">
  <h4 class="modal-title">Login</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>


<div class="modal-body">

  <div *ngIf="isLoading" style="height: 200px;">
    <app-loading></app-loading>
 </div>

 <div *ngIf="!isLoading" > 
  <form class="aa-login-form" [formGroup]="formC" >
   
    <label class="font-size-login" for="">Email<span>*</span></label>
    <input class="font-size-login" type="email" placeholder="Email"  formControlName="email" id="exampleInputEmail1" style="width: 90%; height: 40px; border: 1px solid #ccc; padding:0px 2px;">
   
    <label class="font-size-login" for="">Mot de Passe<span>*</span></label>
    <input class="font-size-login" type="password" placeholder="Password" formControlName="password" id="exampleInputEmail2" style="width: 90%; padding:0px 2px; ">
    
    <button class="aa-browse-btn font-size-login" type="submit" (click)="login()">Connecter</button>
   
    <div style="width: 100%; margin-top: 70px; text-align: center;">
      <h4 style="float:left; width: 100%;">Vous n'avez pas encore de compte? inscrivez vous maintenant ! 
       </h4>
       <a class="font-size-login" (click)="register()" style="color:blue; font-weight: 600;">Inscription</a>
     </div>
    
    
    <br>  <br>  <br>  <br>
    
  </form>
 </div>
</div>
