.image-gallerie{
    height:250px;
   
}

.image-gallerie2{
 padding: 0px !important;
 overflow: hidden;
}

.style-Titre{
    margin-bottom:30px;
    text-align: center;
    background-color: #ff6666;
    color:white;
    padding:0px;
    height: 50px;
 }
 
 .style-Titre-h1{
     padding:0px;
     margin:0px;
 }

.nav-link{
    color:rgb(245, 88, 77);
    background-color: white;
}

.nav-link.active{
    color:white;
    background-color:  rgb(245, 88, 77);
}

a:hover {
    color:white;
    background-color: rgb(250, 150, 143)   !important;
  }
  
  /* selected link */
a:focus {
    color:white;
    background-color:  rgb(245, 88, 77)!important;
}

  
.aa-product-catg li {
margin: 0 0 20px 37px;
}


.image-article{
    background-repeat: no-repeat; 
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; 
    padding:0px;
    height: 300px; 
    width:220px;
}

.image-populaire{
    padding:5px;
    height: 300px; 
    width:100%;
}

.centerAbsolute{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    font-size: 20px; 
    font-weight: 500; 
    background-color:  rgba(0, 0, 0, 0.5); 
    padding: 0px 10px;
    color:white;
}
.image-gallerie2:hover{
.centerAbsolute{
    color:red;
    background-color:  rgba(238, 234, 234, 0.74) !important;
    animation-name: example;
    animation-duration: 0.5s;
    font-size: 40px; 
    font-weight: 800; 
    padding : 100%
}
}
@keyframes example {
    from {font-size: 20px; font-weight: 500; padding: 10px }
    to {font-size: 40px; font-weight: 800; padding : 100%}
        
}
  

h1{
    font-size: 40px; 
    font-weight: bold; 
    padding-top: 15px;
    font-family: serif;
}