<section>
    
    <div class="content" style="margin-top: 30px;"> <!--change-->
        <div class="row"> <!--change-->
           <div class="col-md-12">
      <!--bonde begin --> <div class="style-Titre" style="padding-bottom: 10px;">
              <!--bonde end -->  <h1 class="style-Titre-h1"> Nos Partenaires Officiels </h1>
               </div>
            </div>
        </div>
    </div>
  
    <div *ngIf="isParametres" class="content" style="margin-bottom: 20px;"> <!--change-->
        <button type="button" class="btn btn-primary" style="padding: 10px; font-size: 15px; float:right !important; margin:0px !important;" (click)="openAjouterEvent()" >Ajouter Evenement</button>
    </div>
    
    <div class="content">
  
    <div id="myCarousel" class="carousel slide" data-ride="carousel" style="margin-bottom: 200px;">
      <!-- Indicators -->
      <ol class="carousel-indicators" style="padding-left: 90px;">
        <li data-target="#myCarousel" data-slide-to="0" class="active" style="background-color: #0000008a;"></li>
        <li data-target="#myCarousel" data-slide-to="1"style="background-color:#0000008a ;"></li>
        <li data-target="#myCarousel" data-slide-to="2" style="background-color: #0000008a;"></li>
      </ol>
  
      <!-- Wrapper for slides   -->
      <div class="carousel-inner">
        <div [class]="e.class" *ngFor="let e of tabEvents2">
            <div class="carousel-inner">
          <div class="row">
          <div class="col-md-4"  *ngFor="let a of e.tabs" style="height:350px; width:100%;">
              <div class="container"  style="height:350px;  display: flex; justify-content: center; align-items: center !important;">
                    <div class="card" style="margin-top: 15px;margin-bottom: 15px; max-width: 270px;" >
                      <div class="card-body" >
                        <img [src]="a.event.image" alt="polo shirt img" class="image-article" style="height:100%; width:100%;" >
                        <button [id]="a.event.id" *ngIf="isParametres" type="button" class="btn btn-danger" (click)="openDeleteEvent($event)" [style]="a.style">Supprimer</button>
                        <h2>{{a.event.titre}}</h2>
                        <p>{{a.event.description}}</p>
                      </div>
                    </div>
                
                  </div>
          </div>
          
        </div>
        </div>
        </div>
 
      </div>
  
      <!-- Left and right controls -->
      <a class="left carousel-control" href="#myCarousel" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#myCarousel" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>
  </section>