


<section id="carousel">
  <div class="content">
    <div class="row">
      <div class="col-md-12">

        <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img src="assets/img/Sans titre - 1-1 copie.jpg" class="style-image">
            </div>
            <div class="carousel-item">
              <img src="assets/img/Sans titre - 1-2 copie.jpg" class="style-image">
            </div>
            <div class="carousel-item">
              <img src="assets/img/Slider 2cade0-2 copie.jpg" class="style-image">
            </div>
            <div class="carousel-item">
              <img src="assets/img/Slider 2030-1.jpg"  class="style-image">
            </div>
            <div class="carousel-item">
              <img src="assets/img/Slider 2030-2.jpg"  class="style-image">
            </div>
            <div class="carousel-item">
              <img src="assets/img/Slider cos20-1 - Copie.jpg"  class="style-image">
            </div>
            <div class="carousel-item">
              <img src="assets/img/Slider porta-1.jpg"  class="style-image">
            </div>
            <div class="carousel-item">
              <img src="assets/img/Slider jouet 20202-2 copie.jpg"  class="style-image">
            </div>
            <div class="carousel-item">
              <img src="assets/img/Slider 20202-1.jpg"  class="style-image">
            </div>
          </div>
          <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>

        </div>
    </div>
  </div>
</section>

<app-index-bar nom="Contact"></app-index-bar>


   <!-- / catg header banner section -->
 <!-- start contact section -->
  <section id="aa-contact">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="aa-contact-area">
            <!-- contact map -->
            <div class="aa-contact-map">
              <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d6484.464893041861!2d10.96724318305052!3d35.64664427934406!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xde6189d6f30e57f7!2zTGlicmFpcmllIEFsLVJhaG1hINmF2YPYqtio2Kkg2KfZhNix2K3Zhdip!5e0!3m2!1sfr!2stn!4v1598280189252!5m2!1sfr!2stn" width="100%" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>  </div>
            <!-- Contact address -->
            <div class="aa-contact-address">
              <div class="row">
                <div class="col-md-8">

                  <div *ngIf="isLoading" style="height: 200px;">
                    <app-loading></app-loading>
                  </div>

                  <div class="aa-contact-address-left" *ngIf="!isLoading">
                    <form class="comments-form contact-form" [formGroup]="formC">
                     <div class="row">
                       <div class="col-md-6">
                         <div class="form-group">                        
                           <input type="text" placeholder="Nom" class="form-control" formControlName="nom" id="exampleInputEmail1">
                         </div>
                       </div>
                       <div class="col-md-6">
                         <div class="form-group">                        
                           <input type="email" placeholder="Email" class="form-control" formControlName="email" id="exampleInputEmail1">
                         </div>
                       </div>
                     </div>
                      <div class="row">
                       <div class="col-md-6">
                         <div class="form-group">                        
                           <input type="text" placeholder="Sujet" class="form-control" formControlName="subject" id="exampleInputEmail1">
                         </div>
                       </div>
                       <div class="col-md-6">
                         <div class="form-group">                        
                           <input type="text" placeholder="Société" class="form-control" formControlName="company" id="exampleInputEmail1">
                         </div>
                       </div>
                     </div>                  
                      
                     <div class="form-group">                        
                       <textarea class="form-control" rows="3" placeholder="Message" formControlName="message" id="exampleInputEmail1"></textarea>
                     </div>
                     <button class="aa-secondary-btn" type="submit" (click)="envoyerMessage()">envoyer</button>
                   </form>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="aa-contact-address-right" style="font-weight: 500; font-size: 15px;">
                    <address>
                      <h4 style="font-weight: 500;">Errahma stores</h4>
                      <p><span class="fa fa-home"></span>Rue Ennasser route de lycée 5080 Teboulba monastir-Tunisie</p>
                      <br>
                      <p><span class="fa fa-phone"></span>fixe:(+216) 73 496 823</p>
                      <br>
                      <p><span class="fa fa-envelope"></span>Email: direction@errahmastores.com

                      </p>
                    </address>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
 

