

<section id="aa-catg-head-banner">
    <img src="assets/img/Sans titre - 1-2 copie.jpg" alt="fashion img" class="style-image">
</section>

<app-index-bar nom="Informatique"></app-index-bar>

<div *ngIf="categories">

    <app-page-articles [categories]="categories"> </app-page-articles>

</div>