

<app-index-bar nom="Fournisseurs"></app-index-bar>

<section id="tab" >
    <div class="container"  >
      <div class="row" style="padding:20px 0px; ">
        <button type="button" class="btn btn-primary" style="padding:10px; font-size: 12px; margin-left: auto;" (click)="openRegister()"  >Ajouter Fournisseur</button>

        <table class="table">
            <thead class="thead-light" style="background-color: rgba(233, 44, 123, 0.61) !important;">
              <tr>
                <th class="style-font-tab" scope="col">Nom</th>
                <th class="style-font-tab" scope="col">Role</th>
                <th class="style-font-tab display-hidden" scope="col">Email</th>
                <th class="style-font-tab display-hidden" scope="col">Boutique</th>
                <th class="style-font-tab" scope="col"></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let e of tabBoutiques">
                <th class="style-font-tab" scope="row">{{e.nom}} {{e.prenom}}</th>
                <td class="style-font-tab">{{e.role}}</td>
                <td class="style-font-tab display-hidden">{{e.email}}</td>
                <td class="style-font-tab display-hidden">{{e.nomBoutique}}</td>
                <td class="style-font-tab"><button [id]="e.id" (click)= "openDetailsBoutique($event)" type="button" class="btn btn-primary" style="padding: 5px; font-size: 12px;">Afficher</button></td>
              </tr>
              
            </tbody>
          </table>
 
        </div>
    </div>
</section>


<div class="row">

  <app-pagination [page]="page" [totalPage]="totalPage" (setPageEvent)="setPage($event)" style="margin:10px auto;"> </app-pagination>

</div>