.style-font-tab{
    font-size: 13px !important;
}

.font-pagination-a{
    font-size: 15px;
    color: #ff6666;
    font-weight: 400;
}

.font-pagination-a:hover{
    font-size: 15px;
    color:white;
    background-color: #ff6666;
    font-weight: 400;
}

.font-button-articles{
    font-size:15px;
    background-color: #ff6666;
}

@media screen and (max-width: 1000px) {
    .display-hidden{
        display:none;
    }
}  