<div class="modal-header">
    <h4 class="modal-title">Commande Details</h4>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  
  
  <div class="modal-body">
    <div class="col-lg-12" *ngIf="commande">
         
        <span style="margin:5px; font-size: 15px; font-weight: 800;">Num_Commande : </span>
        <span style="margin:5px; font-size: 15px; font-weight: 500;" >{{commande.num}}</span> <br>
        
        <span style="margin:5px; font-size: 15px; font-weight: 800;">Num_Client : </span>
        <span style="margin:5px; font-size: 15px; font-weight: 500;" >{{commande.client.num}}</span> <br>
    
        <span style="margin:5px; font-size: 15px; font-weight: 800;">Etat : </span>
        <span style="margin:5px; font-size: 15px; font-weight: 500;" >{{commande.etat}}</span> <br>

        <span style="margin:5px; font-size: 15px; font-weight: 800;">Date de creation : </span>
        <span style="margin:5px; font-size: 15px; font-weight: 500;" >{{commande.createdAt}}</span> <br>

        <span style="margin:5px; font-size: 15px; font-weight: 800;">Prix totale : </span>
        <span style="margin:5px; font-size: 15px; font-weight: 500;" >{{totalPrix}} DT</span> <br>

      
       
            
        <p style="margin-top: 10px; margin-left: 4px; background-color: blue; color: white;" *ngIf="isAdmin" >
            
            <span style="margin:5px; font-size: 15px; font-weight: 800;">Nom Client : </span>
            <span style="margin:5px; font-size: 15px; font-weight: 500;" >{{commande.client.nom}} {{commande.client.prenom}}</span> <br>
        
            <span style="margin:5px; font-size: 15px; font-weight: 800;">Email Client : </span>
            <span style="margin:5px; font-size: 15px; font-weight: 500;" >{{commande.client.email}} </span> <br>
        
            <span style="margin:5px; font-size: 15px; font-weight: 800;">Telephone Client : </span>
            <span style="margin:5px; font-size: 15px; font-weight: 500;" >{{commande.client.telephone}}</span> <br>
      
            <span style="margin:5px; font-size: 15px; font-weight: 800;">Adresse Client : </span>
            <span style="margin:5px; font-size: 15px; font-weight: 500;" >{{commande.client.adresse}} </span> <br>
        </p>
      
        <div class="row" *ngIf="isAdmin">
            <div style="margin-left: auto; margin-right: 7px;" *ngIf="!isFini">
                <app-loading *ngIf="charge"></app-loading>
                <button [id]="button1" (click) ="changerCommande($event)" type="button" class="btn btn-danger button-etat" style="padding: 5px; font-size: 12px;">{{button1}}</button>
                <button [id]="button2" (click) ="changerCommande($event)" type="button" class="btn btn-primary button-etat" style="padding: 5px; font-size: 12px;">{{button2}}</button>
            </div>
        </div>
        
        <table class="table">
            <thead class="thead-light" style="background-color: rgba(233, 44, 123, 0.61) !important;">
              <tr>
                <th class="style-font-tab" scope="col">Image</th>
                <th class="style-font-tab" scope="col">Nom</th>
                <th class="style-font-tab display-hidden" scope="col">Ref</th>
                <th class="style-font-tab" scope="col">Quantite</th>
                <th class="style-font-tab" scope="col">Prix unitaire</th>
              </tr>
            </thead>
            <tbody>
  
              <tr *ngFor="let e of tabItemsCommande">
                <th class="style-font-tab" scope="row"><a class="aa-cartbox-img" href="#"><img class="style-image" [src]="e.image" alt="img"></a> </th>
                <th class="style-font-tab" scope="row">{{e.nom}}</th>
                <td class="style-font-tab display-hidden">{{e.ref}}</td>
                <td class="style-font-tab">x {{e.quantite}}</td>
                <td class="style-font-tab">{{e.prix}} DT</td>
                
              </tr>
              
            </tbody>
          </table>
  

    </div>

        
</div>