.style-font-tab{
    font-size: 13px !important;
}

.style-font-tab-2{
    font-size: 15px !important;
    font-weight: 600;
}

.style-image{
  height: 150px;
  border: black solid 1px;
}

.back-gris{
   background-color: gray;
}

@media screen and (max-width: 1000px) {
    .style-image{
        max-width: 100px;   
    } /*4*/

    .display-hidden{
        display:none;
    }

    .position-button{
        float:left !important;
        margin-left:0px !important;
    }


}

.position-button{
  float:right;
}