

<app-index-bar nom="Panier"></app-index-bar>

 <section id="tab" >
    <div class="container"  >

      <div *ngIf="isLoading" style="height: 200px;">
        <app-loading></app-loading>
     </div>
    
     <div *ngIf="!isLoading" >

        <div class="row" style="padding:10px 0px; ">
            <div class="col-lg-6">
                <div style="font-size: 20px;"> <span style=" color: blue;">Nombre Articles : </span>{{length}}</div>
                <br>
                <div style=" font-size: 20px;"> <span style=" color: blue;"> Prix Totale : </span> {{prixTotal}} DT</div>
            </div>
            <div class="col-lg-6">
            
               <button type="button" class="btn btn-primary position-button" style="padding: 10px; font-size: 15px;  margin:15px;" (click)="envoyer()" >Envoyer Commande</button>
               <button type="button" class="btn btn-danger position-button" style="padding: 10px; font-size: 15px;  margin:15px;" (click)="viderPanier()" >Vider Panier</button>
           
            </div>
        </div>    
        <div class="row" style="padding:20px 0px; ">
     
        <table class="table" style="overflow-x: scroll;">
            <thead class="thead-light" style="background-color: rgba(233, 44, 123, 0.61) !important;">
              <tr>
                <th class="style-font-tab" scope="col">Image</th>
                <th class="style-font-tab display-hidden" scope="col">Nom</th>
                <th class="style-font-tab display-hidden" scope="col">Marque</th>
                <th class="style-font-tab display-hidden" scope="col">Prix</th>
                <th class="style-font-tab" scope="col">Quantite</th>
                <th class="style-font-tab" scope="col"></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let e of panier">
                <th class="style-font-tab" scope="row" *ngIf="e.article" > <img *ngIf="e.article.image" [src]="e.article.image" alt="img" class="style-image"> </th>
                <td *ngIf="e.article" class="style-font-tab display-hidden"  >{{e.article.nom}}</td>
                <td *ngIf="e.article" class="style-font-tab display-hidden">{{e.article.marque.nom}}</td>
                <td *ngIf="e.article" class="style-font-tab display-hidden"><app-item-page-panier [item]="e"></app-item-page-panier></td>
                <td *ngIf="e.quantite" class="style-font-tab">x{{e.quantite}}</td>
                <td class="style-font-tab" *ngIf="e.article" > <button [id]="e.article.id"  type="button" class="btn btn-primary" style="margin:0px 10px; padding: 5px; font-size: 12px;" (click)=" openDetailsArticle($event)">Modifier</button></td>
              </tr>
              <tr>
                <th class="style-font-tab back-gris" scope="row" > </th>
                <td class="style-font-tab back-gris display-hidden"  ></td>
                <td class="style-font-tab back-gris display-hidden"></td>
                <td class="style-font-tab back-gris display-hidden"></td>
                <td class="style-font-tab style-font-tab-2">Total produits TTC:</td>
                <td class="style-font-tab style-font-tab-2">{{prixTotal}} DT </td>
              </tr>
              <tr>
                <th class="style-font-tab back-gris" scope="row" > </th>
                <td class="style-font-tab back-gris display-hidden"  ></td>
                <td class="style-font-tab back-gris display-hidden"></td>
                <td class="style-font-tab back-gris display-hidden"></td>
                <td class="style-font-tab style-font-tab-2">Total:</td>
                <td class="style-font-tab style-font-tab-2">{{prixTotal}} DT </td>
              </tr>
            </tbody>
        </table>
 
        </div>
        </div>
    </div>
</section>
