.style-font-tab{
    font-size: 13px !important;
}

.font-pagination-a{
    font-size: 15px;
    color: #ff6666;
    font-weight: 400;
}

.font-pagination-a:hover{
    font-size: 15px;
    color:white;
    background-color: #ff6666;
    font-weight: 400;
}

.font-button-articles{
    font-size:15px;
    background-color: #ff6666;
}


.item-categorie{
    font-size:15px;
    font-weight: 500;
    margin: 5px 5px;
}
.item-sous-categorie{
    font-size:15px;
    font-weight: 500;
    margin: 2px;
    margin-left: 30px;
}

.categorie-niveau-1{
    margin-top: 2px;
    border: black solid 2px;
    border-radius: 50%;
    margin-right: 5px;
    width: 15px;
    height: 15px;

}

.categorie-niveau-2{
   
    border: black solid 2px;
    margin-top: 3px;
    margin-right: 5px;
    width: 12px;
    height: 12px;

}

.categorie-Active{
    background-color: #ff6666;
}

@media screen and (max-width: 1000px) {
    .display-hidden{
        display:none;
    }
}  