.aa-product-catg li {
    display: block;
    float: left;
    height: 380px;
    text-align: center;
    margin: 0 0 20px 20px;
    width: 200px;
    position: relative;
    overflow: hidden;
}

.font-pagination-a{
    font-size: 15px;
    color: #ff6666;
    font-weight: 400;
}

.font-pagination-a:hover{
    font-size: 15px;
    color:white;
    background-color: #ff6666;
    font-weight: 400;
}