<app-index-bar nom="Recherche"></app-index-bar>


<app-loading *ngIf="charge"></app-loading>

<div class="container">
  

<div class="row">
    <div class="aa-product-catg-body"  >
        <ul class="aa-product-catg" style="margin:8px auto !important;" >
          
          <li *ngFor="let e of tabArticles" style="overflow: visible;">
            <app-article [article]="e" ></app-article>  
          </li>
       </ul>
    </div>           
    </div>
    
    
    <div class="row">

      <app-pagination [page]="page" [totalPage]="totalPage" (setPageEvent)="setPage($event)" style="margin:10px auto;"> </app-pagination>
   
   </div>