.font-size-login{
    font-size:15px;
}


.selector-2-niveau{
    font-size:20px;
    height:40px !important;
    width: 80% !important;
    color:black; 
    position: absolute;
    top:125px;
    left:15px;
}