<div class="modal-header">
    <h4  class="modal-title">Ajoute Categorie</h4>
   
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  
  


  <div class="modal-body">
    <div class="container">
    <div class="row">
    <div class="col-md-12">
   
<div *ngIf="isLoading" style="height: 200px;">
  <app-loading></app-loading>
</div>

<div  *ngIf="!isLoading">     

    <form class="aa-login-form" [formGroup]="formC" >
     
      <div class="row">
        <div class="col-md-12">
          
      <label class="font-size-login" for="">Nom Categorie<span>*</span></label>
      <input class="font-size-login" type="text" placeholder="Categorie"  formControlName="nom" id="exampleInputEmail1" style="width: 90%; height: 40px; border: 1px solid #ccc; padding:0px 2px;">
     
     
</div>
<div class="col-md-12">
      <label  class="font-size-login" for="">Categorie Niveau-0 <span>*</span></label>
    
      <select id="00" formControlName="categorie" style="margin-left:50px;" class="form-control form-control-lg" (change)="changeCategorie($event)" style="font-size:20px; height:40px !important; width: 80% !important;color:black;">
        <option value="0" [selected]="true" class="font-size-login" >Aucun</option>
        <option  [value]="l.id" *ngFor="let l of tabCategories" class="font-size-login">{{l.nom}}</option>
      </select>

         <label  class="font-size-login" for="" style="float:left;">Categorie Niveau-1 <span>*</span></label>
       
         <select [id]="0" formControlName="sousCategorie" class="selector-2-niveau form-control form-control-lg sous-categorie-22" >
           <option value="0" [selected]="true" class="font-size-login sous-categorie-option" >Aucun</option>
         </select>
   
         <select [id]="l.categorie" style="visibility: hidden;" *ngFor="let l of tabSousCategories" formControlName="sousCategorie" class="selector-2-niveau form-control form-control-lg sous-categorie-22" >
             <option value="0" [selected]="true" class="font-size-login sous-categorie-option" >Aucun</option>
             <option [value]="e.id"  class="font-size-login sous-categorie-option" *ngFor="let e of l.sousCategories">  {{e.nom}} </option>
         </select>
   
      <button class="aa-browse-btn font-size-login" type="submit" (click)="addCategorie()" style="margin-bottom: 20px; margin-top:100px; float: right;">Ajouter</button>
      <br>  <br>  <br>  <br>
    </div>
      </div>
    </form>
  </div>
    </div>
    </div>
    </div>
  </div>
  
 