<div class="modal-header">
    <h4 class="modal-title">Article Details</h4>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  
  
  <div class="modal-body">

    <div *ngIf="isLoading" style="height: 200px;">
      <app-loading></app-loading>
   </div>

   <div *ngIf="!isLoading" >   
    <form [formGroup]="formC" >
        <div class="row">
          <div class="col-md-6">
                
          <label for="" class="style-label-text" >Nom d'article<span>*</span></label>
          <input type="text" formControlName="nom"  id="exampleInputEmail1" class="style-input-text">
        
          <label for="" class="style-label-text">Prix<span>*</span></label>
          <input type="text" formControlName="prix"  id="exampleInputEmail1" class="style-input-text">
          
          <label for="" class="style-label-text">Réf</label>
          <input type="text" formControlName="ref"  id="exampleInputEmail1" class="style-input-text">

          <label for="" class="style-label-text">Description</label>
          <input type="text" formControlName="description"  id="exampleInputEmail1" class="style-input-text">


          <div style="margin-top: 20px ; border: solid 1px black; padding:10px;">

            <div style="margin:10px 0px ;" *ngIf="!isFacilite">
               <Input type="checkbox" value="true" id="withFacilite" (click)="changeFacilite()"> <span class="font-size-login"> Facilite </span>  
            </div>
         
            <div style="margin:10px 0px ;" *ngIf="isFacilite">
               <Input type="checkbox" value="true" id="withFacilite" (click)="changeFacilite()" checked="true"> <span class="font-size-login"> Facilite </span>  
            </div>
         
            
             <label for="" class="style-label-text">3 Mois (DT)<span>*</span></label>
             <input type="number" formControlName="threeMonthe"  id="exampleInputEmail1" class="style-input-text">
             
             <label for="" class="style-label-text">6 Mois (DT)<span>*</span></label>
             <input type="number" formControlName="sexMonthe"  id="exampleInputEmail1" class="style-input-text">
             
             <label for="" class="style-label-text">9 Mois (DT)<span>*</span></label>
             <input type="number" formControlName="nineMonthe"  id="exampleInputEmail1" class="style-input-text">
             
             <label for="" class="style-label-text">12 Mois (DT)<span>*</span></label>
             <input type="number" formControlName="tweleveMonthe"  id="exampleInputEmail1" class="style-input-text">
             
          </div>

          <div *ngIf="isAdmin">
            <div style="margin:10px 0px ;" *ngIf="!isPopulaires">
               <Input type="checkbox" value="true" id="withPopulaires" (click)="changePopulaires()"> <span class="font-size-login"> Populaires </span>  
            </div>
              <div style="margin:10px 0px ;" *ngIf="isPopulaires">
               <Input type="checkbox" value="true" id="withPopulaires" (click)="changePopulaires()" checked="true"> <span class="font-size-login"> Populaires </span>  
            </div>
                              
              <div style="margin:10px 0px ;" *ngIf="isTopCategorie">
              <Input type="checkbox" value="true" id="withTopCategorie" (click)="changeTopCategorie()" checked="true"> <span class="font-size-login"> Top categorie </span>  
             </div>
          
             <div style="margin:10px 0px ;" *ngIf="!isTopCategorie">
              <Input type="checkbox" value="true" id="withTopCategorie" (click)="changeTopCategorie()"> <span class="font-size-login"> Top categorie </span>  
             </div>
          
          </div>          
        </div>
        <div class="col-md-6" >
         
        <div *ngIf="isAdmin || isBoutiqueWithCommande">
  
   <div style="margin-top: 20px ; border: solid 1px black; padding:10px;">

   <div style="margin:10px 0px ;" *ngIf="!isPromo">
      <Input type="checkbox" value="true" id="withCommandes" (click)="changePromotion()"> <span class="font-size-login"> Promotion </span>  
   </div>

   <div style="margin:10px 0px ;" *ngIf="isPromo">
      <Input type="checkbox" value="true" id="withCommandes" (click)="changePromotion()" checked="true"> <span class="font-size-login"> Promotion </span>  
   </div>

    <label for="" class="style-label-text">Prix Promotion<span>*</span></label>
    <input type="number" formControlName="newPrix"  id="exampleInputEmail1" class="style-input-text">
    
    <label for="" class="style-label-text">Pourcentage Promotion<span>*</span></label>
    <input type="number" formControlName="pourcentageRemise"  id="exampleInputEmail1" class="style-input-text">
    
    <label for="" class="style-label-text">Debut Promotion<span>*</span></label>
    <input type="date" formControlName="dateDebut"  id="exampleInputEmail1" class="style-input-text">
    
    <label for="" class="style-label-text">Fin Promotion<span>*</span></label>
    <input type="date" formControlName="dateFin"  id="exampleInputEmail1" class="style-input-text">
    
    </div>


    <label for="" class="style-label-text font-size-login">Image<span>*</span></label>
    <span style="color:red;" *ngIf="message" class="font-size-login">{{message}}</span>
    <input #file type="file" accept='image/*' (change)="selectedM($event)"  />
    <img [src]="imgURL" height="200" *ngIf="imgURL">
          

   

    </div>
    <br> <br>
    
      
      <div class="row font-size-login" style="margin-top: 20px; margin-bottom: 150px;">
        <div class="col-md-12">
      <label  class="font-size-login" for="">Categorie Niveau-0 <span>*</span></label>

      <select formControlName="categorie" style="margin-left:50px;" class="form-control form-control-lg font-size-login" (change)="changeCategorie($event)" style="font-size:20px; height:40px !important; width: 80% !important;color:black;">
        <option [value]="e.id" class="font-size-login" *ngFor="let e of tabCategories">{{e.nom}}</option>
        <option value="0" class="font-size-login" >Aucun</option>
      </select>

      <label  class="font-size-login" for="" style="float:left; margin-top:10px;">Categorie Niveau-1 <span>*</span></label>
   
      <select [id]="0"   formControlName="sousCategorie" (change)="changeSousCategorie($event)" class="selector-2-niveau form-control form-control-lg sous-categorie-22" >
        <option value="0" [selected]="true" class="font-size-login sous-categorie-option" >Aucun</option>
      </select>
     
      <select [id]="e.categorie.id"  *ngFor="let e of tabSousCategories" style="visibility: hidden;" formControlName="sousCategorie" (change)="changeSousCategorie($event)" class="selector-2-niveau form-control form-control-lg sous-categorie-22" >
          <option value="0" [selected]="true" class="font-size-login sous-categorie-option" ></option>
          <option  *ngFor="let l of e.sousCategories" [value]="l.sousCategorie.id"  class="font-size-login sous-categorie-option"   >  {{l.sousCategorie.nom}} </option>
      </select>


      <label  class="font-size-login" for="" style="float:left; position:absolute; top:175px; left:15px ">Categorie Niveau-2 <span>*</span></label>
     
      <select [id]="1000"  formControlName="sousSousCategorie" class="selector-3-niveau form-control form-control-lg sous-categorie-33" >
        <option value="0" [selected]="true" class="font-size-login sous-categorie-option" >Aucun</option>
      </select>
       

      <div *ngFor="let e of tabSousCategories">
        <div *ngFor="let l of e.sousCategories">
      
          <select [id]="l.sousCategorie.id"  (click)="changeSousSousCategorie($event)" style="visibility: hidden;" formControlName="sousSousCategorie" class="selector-3-niveau form-control form-control-lg sous-categorie-33 font-size-login" >
              <option value="0"  [selected]="true" class="font-size-login sous-categorie-option" ></option>
              <option   [value]="p.id"  class="font-size-login sous-categorie-option"  key="3" *ngFor="let p of l.sousSousCategories">  {{p.nom}} </option>
          </select>

        </div>
      </div>
   
    
  </div>             
</div>


    <button type="submit" (click)="modified()"  class="aa-browse-btn" style="float: right; margin-right: 0px;">Ajouter</button> 
    

     </div>
          
      </div>
        </form>
      </div>
    </div>
