.font-size-login{
    font-size:15px;
}

.style-input-text{
    font-size:15px;
    height: 15px;
    margin-bottom: 20px;
}


.selector-2-niveau{
    font-size:20px;
    height:40px !important;
    max-width: 320px;
    color:black; 
    position: absolute;
    top:115px;
    left:15px;
}

.selector-3-niveau{
    font-size:20px;
    height:40px !important;
    max-width: 320px;
    color:black; 
    position: absolute;
    top:205px;
    left:15px;
}

.style-input-text{
    font-size:15px;
    height: 15px;
}

.style-label-text{
    margin-top: 30px;
}

.marque-niveau{
    font-size:20px;
    height:40px !important;
    max-width: 320px;
    color:black; 
    position: absolute;
    top:50px;
    left:15px;
}

.marque-recherche{
    font-size:13px;
    color:black; 
    padding: 3px;
    cursor: pointer;
}

.marque-recherche:hover{
   background-color: rgb(245, 88, 77);;
}

.style-marques{
    margin-top:20px;
}

@media (max-width:1000px) {
    .style-marques{
        margin-top:0px;
    }
}
