<div class="modal-header">
    <h4  class="modal-title">Modifier Marque</h4>
   
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  
  
  <div class="modal-body">

    <div *ngIf="isLoading" style="height: 200px;">
      <app-loading></app-loading>
   </div>
  
   <div *ngIf="!isLoading" >

    <form class="aa-login-form" [formGroup]="formC" >
     
      <label class="font-size-login" for="">Nom Marque<span>*</span></label>
      <input class="font-size-login" type="text" placeholder="Marque"  formControlName="nom" id="exampleInputEmail1" style="width: 90%; height: 40px; border: 1px solid #ccc; padding:0px 2px;">

      <button class="aa-browse-btn font-size-login" type="submit" (click)="updateMarque()" style="margin-bottom: 20px; margin-top:100px; float: right;">Ajouter</button>
      <br>  <br>  <br>  <br>
      
    </form>
  </div>
  </div>
  
 
