
<app-index-bar nom="Chat"></app-index-bar>

<section id="tab" >
   <div class="container"  >

      <div class="row" style="padding:10px 0px; ">
            
            <div class="col-md-3">
                
                <ul style="border:#ff6666 solid 5px; max-height: 700px; height: 700px; overflow-y: scroll;">
                   <li *ngFor="let e of users" [id]="e.id" class="style-li" (click)="selectUser($event)"> 
                      {{e.name}} 
                      <span *ngIf="e.nomberMessageNonVueAdmin" class="style-number-of-message" >{{e.nomberMessageNonVueAdmin}}</span>
                   </li> 
                </ul> 
            
            </div>
            
            <div class="col-md-9">
               

                <div class="interface-chat MyClass style-navbar-mobile-active2">
                    <div class="style-title">
                       <span *ngIf="user" style="color: red; font-size:20px; font-weight: 800; padding:15px;">{{user.name}} </span>
 <br>               
                       <span *ngIf="user" style="color: red; font-size:20px; font-weight: 800; padding:15px;">({{user.email}}) </span>
                
                     </div> 
                    
                    <div class="style-body">
                   
                     <div class="container" *ngIf="loadingMessages" >
                        
                        <div class="row">
                          <app-loading style="margin: auto;"></app-loading>
                        </div>
                     </div>

                      <div class="container" style="margin-top:auto;" *ngIf="!loadingMessages">
                         <div class="col-12" >
                            <div   class="row" *ngFor="let e of messages">
                               <app-message-chat  [message]="e" [user]="user" style="width: 100%;"></app-message-chat>
                            </div>
                           <div class="row end" >
                              <h2></h2>
                            </div>
                        </div>
                        
                      </div>
                        
                   
                    </div>
                    
                    <div class="style-footer">
                       <form  [formGroup]="formD" style="display:inline-flex; width: 100%;">
                          
                           <input  class="style-input-footer" type="text" placeholder="message"  formControlName="message" id="exampleInputEmail1">
                           <button class="btn btn-danger style-button-footer" type="submit" (click)="envoyerMessage()" > <span class="fa fa fa-send-o" style="font-size: 30px;"></span> </button>
                         
                       </form>
                    </div>
                    
                       
                </div>

                   
            </div>

       </div>    
      
   </div>
</section>

