.style-li{
    font-size: 16px;
    font-weight: 500;
    padding:5px;
    padding-left:20px;
    cursor: pointer;
    border-bottom: black 2px solid;
}

.style-li:hover{
    background-color: blueviolet;
}

.interface-chat{
    height: 700px;
    background-color: #ff6666;
    padding:5px;
}

.style-number-of-message{
   background-color: red;
   margin:2px;
   border-radius: 25px;
   float: right;
   padding:0px 5px;
   font-size:15px;
   color: white;
}
  
  
  .style-navbar-mobile-active2{
    display: block;
  }
  
  
  .style-title{
      background-color: white;
      height: 60px;
      width: 100%;
  }

  .style-body{
    background-color: rgb(161, 161, 161);
    height: calc(100% - 130px);
    width: 100%;
    overflow-y: scroll;
    margin:5px 0px;
    padding:5px;
    display: flex;
  }

  .style-footer{
    background-color: white;
    height: 60px;
    width: 100%;
    padding:10px;
  }

  .style-input-footer{
      width: 80%;
      height: 40px;
      border: #ff6666 solid 2px;
      border-radius: 25px;
      padding-left: 10px;
      font-size: 15px;
      font-weight: 600;
      color:black;
  }

  .style-button-footer{
    height: 45px;
    margin:0px;
    margin-left:10px;
    border-radius:25px;
  }

  .style-connection{
    position: absolute;
    padding:20px;
    left:0px;
    right:0px;
    margin-left: auto;
    margin-right: auto;
    max-width: 300px;
    top:50%;
    background-color: white;
  }