
<header id="aa-header">
  <!-- start header top  -->
  <app-navbar1> </app-navbar1>
   <!-- / header top  -->
  <app-navbar-search> </app-navbar-search>

  <!-- / header bottom  -->
</header>
 
<app-navbar-site></app-navbar-site>
<router-outlet></router-outlet>


<app-footer></app-footer>

<app-chat></app-chat>

