<div class="modal-header">
    <h4  class="modal-title">Ajoute Marque</h4>
   
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  
  
  <div class="modal-body">

    <div *ngIf="isLoading" style="height: 200px;">
      <app-loading></app-loading>
   </div>
   
   <div *ngIf="!isLoading">
     <form class="aa-login-form" [formGroup]="formC" >
      
       <label class="font-size-login" for="">Nom Marque<span>*</span></label>
       <input class="font-size-login" type="text" placeholder="Marque"  formControlName="nom" id="exampleInputEmail1" style="width: 90%; height: 40px; border: 1px solid #ccc; padding:0px 2px;">
      
       <div class="row font-size-login" style="margin-top: 20px; margin-bottom: 150px;">
        <div class="col-md-12">
            <label  class="font-size-login" for="">Categorie Niveau-0 <span>*</span></label>

            <select formControlName="categorie" style="margin-left:50px;" class="form-control form-control-lg font-size-login" (change)="changeCategorie($event)" style="font-size:20px; height:40px !important; width: 80% !important;color:black;">
              <option [value]="e.id" class="font-size-login" *ngFor="let e of tabCategories">{{e.nom}}</option>
              <option value="0" class="font-size-login" >Aucun</option>
            </select>

            <label  class="font-size-login" for="" style="float:left; margin-top:10px;">Categorie Niveau-1 <span>*</span></label>
         
            <select [id]="0"   formControlName="sousCategorie" (change)="changeSousCategorie($event)" class="selector-2-niveau form-control form-control-lg sous-categorie-22" >
              <option value="0" [selected]="true" class="font-size-login sous-categorie-option" >Aucun</option>
            </select>
           
            <select [id]="e.categorie.id"  *ngFor="let e of tabSousCategories" style="visibility: hidden;" formControlName="sousCategorie" (change)="changeSousCategorie($event)" class="selector-2-niveau form-control form-control-lg sous-categorie-22" >
                <option value="0" [selected]="true" class="font-size-login sous-categorie-option" ></option>
                <option  *ngFor="let l of e.sousCategories" [value]="l.sousCategorie.id"  class="font-size-login sous-categorie-option"   >  {{l.sousCategorie.nom}} </option>
            </select>


            <label  class="font-size-login" for="" style="float:left; position:absolute; top:175px; left:15px ">Categorie Niveau-2 <span>*</span></label>
           
            <select [id]="1000"  formControlName="sousSousCategorie" class="selector-3-niveau form-control form-control-lg sous-categorie-33" >
              <option value="0" [selected]="true" class="font-size-login sous-categorie-option" >Aucun</option>
            </select>
             

            <div *ngFor="let e of tabSousCategories">
              <div *ngFor="let l of e.sousCategories">
            
                <select [id]="l.sousCategorie.id" style="visibility: hidden;" formControlName="sousSousCategorie" class="selector-3-niveau form-control form-control-lg sous-categorie-33 font-size-login" >
                    <option value="0" [selected]="true" class="font-size-login sous-categorie-option" ></option>
                    <option   [value]="p.id"  class="font-size-login sous-categorie-option"  key="3" *ngFor="let p of l.sousSousCategories">  {{p.nom}} </option>
                </select>

              </div>
            </div>
            
         </div>             
        </div>

       <button class="aa-browse-btn font-size-login" type="submit" (click)="addMarque()" style="margin-bottom: 20px; margin-top:100px; float: right;">Ajouter</button>
       <br>  <br>  <br>  <br>
       
     </form>
   </div>
  </div>
  
 