.font-size-login{
    font-size:15px;
}


.selector-2-niveau{
    font-size:20px;
    height:40px !important;
    max-width: 320px;
    color:black; 
    position: absolute;
    top:115px;
    left:15px;
}

.selector-3-niveau{
    font-size:20px;
    height:40px !important;
    max-width: 320px;
    color:black; 
    position: absolute;
    top:205px;
    left:15px;
}

.style-input-text{
    font-size:15px;
    height: 15px;
}

.style-label-text{
    margin-top: 30px;
}

.marque-niveau{
    font-size:20px;
    height:40px !important;
    max-width: 320px;
    color:black; 
    position: absolute;
    top:50px;
    left:15px;
}
