.image-gallerie{
    height:250px;
   
}

.image-gallerie2{
 padding: 0px !important;
 overflow: hidden;
}

.style-Titre{
    margin-bottom:30px;
   text-align: center;
   background-color: rgb(245, 88, 77);
   color:white;
}

.nav-link{
    color:rgb(245, 88, 77);
    background-color: white;
}

.nav-link.active{
    color:white;
    background-color:  rgb(245, 88, 77);
}

a:hover {
    color:white;
    background-color: rgb(250, 150, 143)   !important;
  }
  
  /* selected link */
a:focus {
    color:white;
    background-color:  rgb(245, 88, 77)!important;
}

  
.aa-product-catg li {
margin: 0 0 20px 37px;
}


.image-article{
    background-repeat: no-repeat; 
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; 
    padding:0px;
    height: 300px; 
    width:220px;
}

.image-populaire{
    padding:5px;
    height: 300px; 
    width:100%;
}

.centerAbsolute{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    font-size: 20px; 
    font-weight: 500; 
    background-color:  rgba(0, 0, 0, 0.5); 
    padding: 0px 10px;
    color:white;
}
.image-gallerie2:hover{
.centerAbsolute{
    color:red;
    background-color:  rgba(238, 234, 234, 0.74) !important;
    animation-name: example;
    animation-duration: 0.5s;
    font-size: 40px; 
    font-weight: 800; 
    padding : 100%
}
}
@keyframes example {
    from {font-size: 20px; font-weight: 500; padding: 10px }
    to {font-size: 40px; font-weight: 800; padding : 100%}
        
}
  

h1{
    font-size: 40px; 
    font-weight: bold; 
    padding-top: 15px;
    font-family: serif;
}


.single_portfolio_text{
    display:inline-block;
    padding:0;
    position:relative;
    overflow:hidden;
}
.single_portfolio_text img{
    width:100%;
}

.single_portfolio_text:hover .portfolio_images_overlay{
    top:5%;
    left: 5%;
}

.portfolio_images_overlay{
    width: 90%;
    height: 90%;
    background: rgba(0, 0, 0, 0.8);
    padding: 20px;
    margin: 0 auto;
    top: -100%;
    left: 5%;
    position: absolute;
    transition:.6s;
    
}
.portfolio_images_overlay h6{
    text-transform: uppercase;
    color: #fff;
    font-size: 30px;
    font-weight: 900;
    border: 2px solid #fff;
    padding-top: 10px;
    padding-bottom: 10px;
}

.portfolio_images_overlay .product_price{
    font-size: 35px;
    color: #fff;
    font-weight:800;
    line-height:30px;
}
.portfolio_images_overlay .product_price i{
    margin-right: -10px;
}
.zoom{
    width: 200px;
    height: 200px;
    position: absolute;
    bottom: -100px;
    right: -100px;
    border-radius: 50%;

    background: #FF512F;
    background: -webkit-linear-gradient(to right, #F09819, #FF512F);
    background: linear-gradient(to right, #F09819, #FF512F);
    box-shadow:0px 0px 0px 10px rgba(0,0,0,0.5);
    opacity:0.9;
}
.zoom:before {
    content: "\f00e";
    font-family: FontAwesome;
    color: rgba(255, 255, 255, 0.5);
    font-size: 70px;
    padding-right: 20px;
    position: absolute;
    top: 10px;
    left: 30px;
}
@media (min-width:769px) and (max-width:991px) {
    .portfolio_images_overlay {
        padding: 0px;
    }
}
@media (max-width:768px) {
    .portfolio_images_overlay{
        padding: 170px 20px;
    }
}
@media (max-width:580px) {
    .portfolio_images_overlay{
        padding: 100px 20px;
    }
}
@media (max-width:480px) {
    .portfolio_images_overlay{
        padding: 40px 20px;
    }
}
@media (max-width:320px) {
    .portfolio_images_overlay{
        padding: 20px;
    }
}

.style-image{
    width: 100% !important; 
    height: 500px !important; 
    margin:0px; 
    padding:0px;
}

.style-galerie-1{
    width: 250px; height: 300px; margin-left: auto; margin-right: auto;
}

.style-galerie-2{
    width: 100%; height: 100%; position: absolute; left:0; right: 0; margin-left:auto; margin-right: auto;
}


.aa-product-catg[_ngcontent-mrg-c117] li[_ngcontent-mrg-c117]{
    margin:0px;
}

@media (max-width: 500px){
  .item-populaires{
    margin: 0px !important;
  }

}


@media (max-width: 500px){
    .item-photo-promo{
      height: 100px !important;
    }
  
}

.item-photo-promo{
    height: 300px; width: 100%; 
}

@media (max-width: 500px){
    .style-image{
        height: 100px !important;
    }
  
}

.style-image{
    width: 100% !important; 
    height: 400px; 
    margin:0px !important;
    padding:0px !important;
}