
<div class="aa-product-catg-pagination" style="margin:10px auto;">
    <nav>
      <ul class="pagination" >
        <li  (click)="setPreviowsPage()"  class="font-pagination-a">
          <a  aria-label="Previous"  class="font-pagination-a">
            <span aria-hidden="true">&laquo;</span>
          </a>
        </li>
        
        <div *ngFor="let e of tabPagination">
               <li *ngIf="e.isSelected"  class="font-pagination-a2 activate-page"> <a class="font-pagination-a"> {{e.page}} </a> </li>
               <li *ngIf="!e.isSelected"  class="font-pagination-a2" (click)="setPage(e.page)"> <a class="font-pagination-a" > {{e.page}} </a> </li>
        </div>
        
        <li  (click)="setNextPage()"  class="font-pagination-a">
          <a class="font-pagination-a" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
          </a>
        </li>
      </ul>
    </nav>
  </div>
