.aa-product-catg li {
    display: inline-table;
    float: left;
    height: 380px;
    text-align: center;
    margin: 0 0 20px 20px;
    width: 200px;
    position: relative;
    
}

.font-pagination-a{
    font-size: 15px;
    color: #ff6666;
    font-weight: 400;
    
}

.font-pagination-a2{
    font-size: 15px;
    color: #ff6666;
    font-weight: 400;
    width: 30px;
    height: 35px;
    padding: 7px 10px;
    border: 1px solid #ddd;
}

.font-pagination-a2:hover{
    font-size: 15px;
    color:white;
    background-color: #ff6666;
    font-weight: 400;
    border: 1px solid #ff6666;
}

.font-pagination-a:hover{
    font-size: 15px;
    color:white;
    background-color: #ff6666;
    font-weight: 400;

}

.activate-page{
    font-size: 15px;
    color:white;
    background-color: #ff6666;
    font-weight: 400;
} 