.aa-product-catg li {
    display: block;
    float: left;
    height: 380px;
    text-align: center;
    margin: 0 0 20px 20px;
    width: 200px;
    position: relative;
    overflow: hidden;
}

@media (max-width: 500px){
    .item-populaires{
      margin-left:50px !important;
    }

    .class-overflow-pagination{
      overflow-x: scroll;
    }
  
  }


  
@media screen and (max-width: 1000px) {

   
  .width-100{
      width: 100%;
      margin-left: 0px !important;
      margin-right: 0px !important;
  }

  .width-padding-100{
      width: 100%;
      margin-left: 0px !important;
      margin-right: 0px !important;
      padding-left: 0px !important;
      padding-right: 0px !important;
      
  }
 
  
  .max-width-100{
      width: 100%;
      margin-left: 0px !important;
      margin-right: 0px !important;
      max-width: 100%;
     
  }


}