<app-loading *ngIf="loading"></app-loading>
<div class="startArticles"></div>
<div *ngIf="!loading" class="row max-width-100">
    <div class="aa-product-catg-body" >
        <ul class="aa-product-catg" style="margin:8px auto !important; " >
          
          <li *ngFor="let e of tabArticles" style="overflow: visible;" class="item-populaires">
            <app-article [article]="e" ></app-article>  
          </li>
       </ul>
    </div>           
</div>


<div *ngIf="!loading" class="row class-overflow-pagination"  >

   <app-pagination [page]="page" [totalPage]="totalPage" (setPageEvent)="setPage($event)" style="margin:10px auto;"> </app-pagination>

</div>

