<div class="aa-header-top width-padding-100">
  <div class="content width-padding-100">
    <div class="row width-padding-100">
      <div class="col-md-12 width-padding-100">
        <div class="aa-header-top-area">
          <!-- start header top left -->
          <div class="aa-header-top-left">
            <!-- / currency -->
            <!-- start cellphone -->
            <div class="cellphone hidden-xs">
              <p><span class="fa fa-phone"></span>73 496 823
              <span class="fa fa-phone"></span>(+216) 25 342 257
              <span class="fa fa-phone"></span>(+216) 52 769 348</p>
            </div>
            <!-- / cellphone -->
          </div>
          <!-- / header top left -->
          <div class="aa-header-top-right">

            <ul class="aa-head-top-nav-right">
              
              <li><a *ngIf="logged" href="#">Site-Web</a></li>
              <li><a *ngIf="logged" routerLink="profil" >Compte</a></li>
              <li><a *ngIf="!logged" (click)="openRegister()">Inscription</a></li>
              <li><a *ngIf="!logged" class="btn btn-lg btn-danger" (click)="openLogin()">Connexion</a></li>
              <li><a *ngIf="logged" class="btn btn-lg btn-danger" (click)="logout()">Déconnexion</a></li>
              
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>