

<section id="aa-catg-head-banner">
    <img src="assets/img/Slider 20202-1.jpg" alt="fashion img" class="style-image">
</section>

<app-index-bar nom="Boutique"></app-index-bar>

<div *ngIf="categories">

<app-page-articles [categories]="categories"> </app-page-articles>

</div>
