

<section id="aa-catg-head-banner">
    <img src="assets/img/Slider 2030-1.jpg" alt="fashion img" class="style-image">
</section>

<app-index-bar nom="Tissu"></app-index-bar>

<div *ngIf="categories">

<app-page-articles [categories]="categories"> </app-page-articles>

</div>