.class-style-input{
    max-width: 80px;
    font-size: 14px;
    border: gray solid 1px;
    border-radius: 25px;
    padding:0px 5px;
    margin:0px;
    margin-right: 0px;
}

.class-style-label{
    max-width: 100px;
    font-size: 13px;
    padding:5px ;
    margin:0px 5px;
    color:rgb(95, 93, 93);
}

.class-style-label-entite{
    max-width: 100px;
    font-size: 13px;
    padding:5px ;
    margin:0px;
    color:rgb(95, 93, 93);
}