<form  [formGroup]="formC" style="text-align: center;" >
  
  <label class="class-style-label">Minimal</label>
  <input  class="class-style-input" type="number"  formControlName="maxPrice" id="exampleInputEmail1">
  <label class="class-style-label-entite"> DT</label>
  <br> <br>
  
  <label class="class-style-label">Maximal</label>
  <input  class="class-style-input" type="number"  formControlName="minPrice" id="exampleInputEmail1">
  <label class="class-style-label-entite"> DT</label>
  <br>
  <br>
  <button class="btn btn-primary" type="submit" (click)="clickSubmit()" style="font-size: 12px; padding:5px; border-radius: 25px;" >Recherche</button>
</form>