<div class="modal-header">
    <h4 class="modal-title">Suppression Event</h4>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  
  
  <div class="modal-body">
     
      <label class="font-size-login" for="">Titre :<span style="font-weight: 400; margin-left: 10px;"> {{event.titre}}</span></label> <br>
      <label class="font-size-login" for="">Description :<span style="font-weight: 400; margin-left: 10px;"> {{event.description}}</span></label> <br>
      <label class="font-size-login" for="">Date de creation :<span style="font-weight: 400; margin-left: 10px;"> {{event.createdAt}}</span></label> <br>
      <img [src]="event.image" height="200">
      
      <div  style="margin-bottom: 20px; margin-top:50px; float:right; ">
         <button class="aa-browse-btn font-size-login" type="button" (click)="activeModal.dismiss('Cross click')" style="margin-right: 10px;">Annuler</button>
         <button class="aa-browse-btn font-size-login" type="button" (click)="supprimer()" >Supprimer Event</button>
       
      </div>
      <br>  
      
  </div>
  
 
  
  
