<div class="modal-header">
    <h4 class="modal-title">Suppression Categorie</h4>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  
  
  <div class="modal-body">
     
      <label class="font-size-login" for="">Nom Categorie :<span style="font-weight: 400; margin-left: 10px;"> {{categorie.nom}}</span></label> <br>
      
      <div  style="margin-bottom: 20px; margin-top:50px; float:right; ">
         <button class="aa-browse-btn font-size-login" type="button" (click)="activeModal.dismiss('Cross click')" style="margin-right: 10px;">Annuler</button>
         <button class="aa-browse-btn font-size-login" type="button" (click)="supprimer()" >Supprimer Categorie</button>
       
      </div>
      <br>  
      
  </div>
