    <div class="modal-header">
        <h4 class="modal-title">Ajouter Event</h4>
        <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      
      
      <div class="modal-body">
        <form class="aa-login-form" [formGroup]="formE" >
         
          <label class="font-size-login" for="">Titre<span>*</span></label> <br>
          <input class="font-size-login" type="text" placeholder="Titre"  formControlName="titre" id="exampleInputEmail1" style="width: 90%; height: 40px; border: 1px solid #ccc; padding:0px 2px;">
         
          <label class="font-size-login" for="">Description<span>*</span></label>
          <input class="font-size-login" type="text" placeholder="Description" formControlName="description" id="exampleInputEmail2" style="width: 90%; padding:0px 2px; ">
          
          <label for="" class="style-label-text">Image<span>*</span></label>
          <span style="color:red;" *ngIf="message">{{message}}</span>
          <input #file type="file" accept='image/*' (change)="selectedM($event)" />
          <img [src]="imgURL" height="200" *ngIf="imgURL">

          <button class="aa-browse-btn font-size-login" type="submit" (click)="ajouterEvent()" style="margin-bottom: 20px; margin-top: 250px; float:right;">Ajouter Event</button>
          <br>  <br>  <br>  <br>
          
        </form>
      </div>
      
     
      
      
    