.item-categorie{
    font-size: 14px;
    font-weight: 400;
    margin: 5px 5px;
    cursor: pointer;
    color:rgb(95, 93, 93);
}

.item-sous-categorie{
    font-size:14px;
    font-weight: 400;
    margin: 2px;
    margin-left: 30px;
    cursor: pointer;
    color:rgb(95, 93, 93);
}


.style-font-tab{
    font-size: 13px !important;
}

.font-pagination-a{
    font-size: 15px;
    color: #ff6666;
    font-weight: 400;
}

.font-pagination-a:hover{
    font-size: 15px;
    color:white;
    background-color: #ff6666;
    font-weight: 400;
}

.font-button-articles{
    font-size:15px;
    background-color: #ff6666;
}





.categorie-niveau-1{
    margin-top: 2px;
    border: black solid 2px;
    border-radius: 50%;
    margin-right: 5px;
    width: 15px;
    height: 15px;
    cursor: pointer;

}

.categorie-niveau-2{
   
    border: black solid 2px;
    margin-top: 3px;
    margin-right: 5px;
    width: 12px;
    height: 12px;
    cursor: pointer;

}

.categorie-Active{
    background-color: #794afa;
}

.marque-niveau-1{
    margin-top: 2px;
    border: black solid 2px;
    border-radius: 50%;
    margin-right: 5px;
    width: 15px;
    height: 15px;
    cursor: pointer;

}

.style-hover-1:hover{
     color:red;
}

.style-hover-1{
    display: inline-flex;
    width: 100%;
    padding:0px;
}


@media (max-width: 600px){
    .style-block-categories{
        margin-top:50px;
    }
}


@media screen and (max-width: 1000px) {

   
    .width-100{
        width: 100%;
        margin-left: 0px !important;
        margin-right: 0px !important;
    }

    .width-padding-100{
        width: 100%;
        margin-left: 0px !important;
        margin-right: 0px !important;
        padding-left: 0px !important;
        padding-right: 0px !important;
        
    }
   
    
    .max-width-100{
        width: 100%;
        margin-left: 0px !important;
        margin-right: 0px !important;
        max-width: 100%;
    }


}


.style-hr-filter{
    background-color: coral; width: 100%; height: 1px; margin-bottom: 20px;
}

.style-h2-filter{
    color:black;font-size: 15px; font-weight: 600; margin: 5px 2px; margin-bottom: 0px; margin-left:5px; margin-top:20px; padding:0px;
}

.style-h2-filter-1{
    color:coral;font-size: 17px; font-weight: 600; margin: 10px 2px; margin-bottom: 0px; text-align:center; padding-bottom: 0px;
}