

   <section id="articles">

    <div class="content">
       <div class="row width-100">
            <div class="col-12 " style="margin:13px auto;">
              
              <div class=" col-md-3 style-block-categories max-width-100"  >
                <div style="max-width: 300px !important; margin:0px auto; border:coral solid 1px; background-color: rgb(235, 213, 213, 0.5);" >
                     <h2 class="style-h2-filter-1">FILTRER PAR</h2>
                     <hr class="style-hr-filter">

                     <h2 class="style-h2-filter">Prix</h2>
                     
                     <div style="margin:5px; border: 1px solid gray; padding:5px;">
                      <app-price-filter (setPrixEvent)="setPrixEvent($event)"></app-price-filter>
                     </div>
                      

                      <h2 class="style-h2-filter">Categories</h2>
                     
                      <ul style="height: 200px; overflow-y: scroll; margin:5px; border: 1px solid gray;">
                     
                        
                         <div *ngFor="let l of tabListCategories" >
                           <li class="item-categorie" > <div  (click)="choisirCategorie($event)" [id]="l.categorie.id" class="style-hover-1" > <div [id]="l.categorie.id" [class]="l.class"  ></div>  {{l.categorie.nom}}</div> </li>
                           <div [style]="l.style" [id]="l.categorie.id" class="block-sous-categorie" *ngFor="let e of l.list" >
                             <li class="item-sous-categorie"> <div class="style-hover-1" (click)="choisirSousCategorie($event)" [id]="e.sousSousCategorie.id"> <div [id]="e.sousSousCategorie.id" [class]="e.class" > </div> {{e.sousSousCategorie.nom}} </div></li>
                           </div>
                         </div>
                      
                      </ul>
                    
                      <h2 class="style-h2-filter">Marques</h2>
                     
                      <ul style="height: 200px; overflow-y: scroll; margin:5px; border: 1px solid gray;">
                        <li class="item-categorie" > <div  class="style-hover-1" id="0" (click)="choisirMarques($event)" > <div id="0" class="marque-niveau-1 categorie-Active"   > </div>  tout </div> </li>
                      
                        <div *ngFor="let l of tabMarques" >
                          <li class="item-categorie" > <div  class="style-hover-1" (click)="choisirMarques($event)" [id]="l.id"> <div [id]="l.id" class="marque-niveau-1"   ></div>  {{l.nom}}</div> </li>
                        </div>
                      
                      </ul>
                  </div>              
                </div>

              <div class="col-lg-9 col-md-9 col-sm-9 max-width-100" style="margin:10px auto;">
                <app-articles [objectFilter]="objectFilter"></app-articles>
              </div>

            </div>
        </div>
    </div>

   </section>
