<section id="aa-catg-head-banner">
    <img src="assets/img/Sans titre - 1-1 copie.png" class="style-image" alt="fashion img">
     
   </section>

   <app-index-bar nom="Valider votre compte"></app-index-bar>

   <p style="color: transparent!important;">dvsvcsvsvvvss</p>
<div class="aboutus-secktion paddingTB60">
  <div class="container">
    <div class="row" >
      <div class="col-md-12" style="text-align: center;">
        <h1 class="strong" style="color: #333; font-weight: 600;" >Bienvenue Chez Errahma Stores</h1>
        
        <div *ngIf="isLoading" style="height: 200px;">
          <app-loading></app-loading>
       </div>
      
    
    <div *ngIf="!isLoading" style="width: 100%; align-items: center !important; display:flex !important;">
       <button type="button" class="btn btn-primary" style="padding: 10px; font-size: 15px; margin:30px auto;" (click)="valideCompte()" >Valider Votre Compte</button>
    </div>        
      </div>
     
    </div>
  </div>
</div>