<!--
<div class="container" >
  
  <div class="row" >
    <div class="col-md-6" style="margin-left: auto; margin-right: auto; margin-bottom: 20px;">
      <div class="card">
        <div class="card-header">
          Recherche
         
        </div>
        <div class="card-body" style="margin-left: auto; margin-right: auto;" >

        <button  class="btn btn-info" (click)="change('1')">info</button>
        <button  class="btn btn-info" (click)="change('2')">vetement</button>
        <button  class="btn btn-info" (click)="change('3')">librairie</button>
        <button  class="btn btn-info" (click)="all()">all</button>


            <div class="input-group mb-2" style="margin-left: 30px;">
                <div class="input-group-prepend" >
                  <div class="input-group-text"  style="background-color: transparent; border: 0px solid transparent;"><i class="fa fa-search" aria-hidden="true"></i></div>
                </div>
                <input type="text" [(ngModel)]="search" class="form-control" id="inlineFormInputGroup" placeholder="nom d'article" >
            </div>
        </div>
      </div>
    </div>
  
  </div>

  <div class="row">
        <div class="col-lg-12">
        
          <div class="col-lg-4" style="display:inline-block" *ngFor="let e of tabF | filter:search">
            <div class="card" style="width: 18rem; margin: 10px;">
              <img [src]="e.image" class="card-img-top">
              <div class="card-body">
                <h5 class="card-title">{{e.nom}}</h5>
                <p class="card-text">{{e.categorie}}</p>
                <p class="card-text" style="color:red">{{e.prix}}</p>

              </div>
            </div>
          </div>
        
        </div>
     </div>
</div>
  
-->

<app-index-bar nom="Articles"></app-index-bar>


 <!-- product category -->
 <section id="aa-product-category">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="aa-product-catg-content">
         
          <div  style="margin-left: auto; margin-right: auto; max-width: 720px; ">
          <div class="card-body"  >
            <div class="input-group " style="margin-left: auto; margin-right: auto; max-width: 300px; border:#ff6666 solid 2px ;">
              <form  [formGroup]="formC"  style="display: inline-flex;">
              
              <div class="input-group-prepend"  >
                <button (click)="recherche()" type="submit" class="input-group-text"  style="color:#ff6666;font-size:15px; background-color: transparent; border: 0px solid transparent;"><i class="fa fa-search" aria-hidden="true"></i></button>
              </div>
            
                <input type="text" formControlName="search" id="exampleInputEmail1" class="form-control" placeholder="nom d'article" style="font-size:15px; border:#ff6666 0.5px;" >
           
                
              </form>
              
            </div>
           <br>
              <span *ngIf="search" style="font-size: 15px; font-weight: 700;">Mot de recheche : {{search}} </span>
           <br>
           <br>
           
           <button *ngIf="categorieParDefaut" [id]="categorieParDefaut.id" class="btn btn-info font-button-articles blogs" style="background-color:blue;" (click)="change($event)" >{{categorieParDefaut.nom}}</button>
           
           <button  *ngFor="let e of tabCategories2" [id]="e.id" class="btn btn-info font-button-articles blogs" (click)="change($event)">{{e.nom}}</button>
          
   
              
               </div>
           </div>



              <!--
                <div class="aa-product-catg-body">
                  <ul class="aa-product-catg">
                   
                   
                    <li *ngFor="let e of tabF | filter:search">
                      <app-article [article]="e" ></app-article>   
                    </li>
                    
                   </ul>
                </div>
              -->

             </div>
            </div>
            </div>
          </div>
            
                    
           
</section>

<div *ngIf="categorie">
   
    <app-page-articles [categories]="categories" > </app-page-articles>

</div>

