<div class="modal-header">
    <h4 *ngIf="isBoutique" class="modal-title">Boutique Details</h4>
    <h4 *ngIf="!isBoutique" class="modal-title">Client Details</h4>
   
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  
  
  <div class="modal-body">
    <div class="col-lg-12" style="margin:10px;">
         
        <span style="margin:5px; font-size: 15px; font-weight: 800;">Nom : </span>
        <span style="margin:5px; font-size: 15px; font-weight: 500;" >{{user.nom}}</span> <br>

        <span style="margin:5px; font-size: 15px; font-weight: 800;">Prenom : </span>
        <span style="margin:5px; font-size: 15px; font-weight: 500;" >{{user.prenom}}</span> <br>

        <span style="margin:5px; font-size: 15px; font-weight: 800;">NCarteIdentite : </span>
        <span style="margin:5px; font-size: 15px; font-weight: 500;" >{{user.NCarteIdentite}}</span> <br>

        <span style="margin:5px; font-size: 15px; font-weight: 800;">Adresse  : </span>
        <span style="margin:5px; font-size: 15px; font-weight: 500;" >{{user.adresse}}</span> <br>


        <span style="margin:5px; font-size: 15px; font-weight: 800;">date de creation : </span>
        <span style="margin:5px; font-size: 15px; font-weight: 500;" >{{user.createdAt}}</span> <br>

        <span style="margin:5px; font-size: 15px; font-weight: 800;">email : </span>
        <span style="margin:5px; font-size: 15px; font-weight: 500;" >{{user.email}}</span> <br>

        <span style="margin:5px; font-size: 15px; font-weight: 800;">telephone : </span>
        <span  style="margin:5px; font-size: 15px; font-weight: 500;" >{{user.telephone}}</span> <br>

        <span *ngIf="isBoutique" style="margin:5px; font-size: 15px; font-weight: 800;">Nom Boutique : </span>
        <span *ngIf="isBoutique" style="margin:5px; font-size: 15px; font-weight: 500;" >{{user.nomBoutique}}</span> <br>

        <span *ngIf="isBoutique" style="margin:5px; font-size: 15px; font-weight: 800;">Adresse Boutique : </span>
        <span *ngIf="isBoutique" style="margin:5px; font-size: 15px; font-weight: 500;" >{{user.adressBoutique}}</span> <br>

        <span *ngIf="isBoutique" style="margin:5px; font-size: 15px; font-weight: 800;">Categorie Boutique : </span>
        <span *ngIf="isBoutique" style="margin:5px; font-size: 15px; font-weight: 500;" >{{categorieBoutique}}</span> <br>

        <span *ngIf="isClient" style="margin:5px; font-size: 15px; font-weight: 800;">Num Client : </span>
        <span *ngIf="isClient" style="margin:5px; font-size: 15px; font-weight: 500;" > <span *ngIf="user.num" >{{user.num}}</span></span> <br>

        <span style="margin:5px; font-size: 15px; font-weight: 800;">Activation : </span>
        <span style="margin:5px; font-size: 15px; font-weight: 500;" > {{isEnabled}}</span> <br>
           
    </div> 

  <div class="row">
    <div style="margin-left: auto; margin-right: 7px;">
      <button *ngIf="isEnabled" (click)="activeOrDesactive()" id="button1"  type="button" class="btn btn-danger button-etat" style="padding: 5px; font-size: 12px;"> Desactiver</button>
      <button *ngIf="!isEnabled" (click)="activeOrDesactive()" id="button1"  type="button" class="btn btn-danger button-etat" style="padding: 5px; font-size: 12px;"> Activer</button>
    </div>
  </div>

</div>