.aa-header-bottom{
    padding:0px !important;
}

.logo-style{
    margin-left: 10px;
}

@media screen and (max-width: 1000px) {

.logo-style{
    width: 100%;
    margin-left: 0px;
}

.width-100{
    width: 100%;
    margin-left: 0px !important;
    margin-right: 0px !important;
   
}

.width-padding-100{
    width: 100%;
    margin-left: 0px !important;
    margin-right: 0px !important;
    padding-left: 0px !important;
    padding-right: 0px !important;
   
}
}