 <!-- start header bottom  -->
 <div class="aa-header-bottom width-padding-100">
  <div class="content width-padding-100">
    <div class="row width-padding-100">
      <div class="col-md-12 width-padding-100">
        
        <div class="aa-header-bottom-area width-padding-100">
          <div class="row width-100">
            <div class="col-md-4 width-100">   
                     
              <!-- logo  -->
              <div class="aa-logo logo-style" >
                <a href="index.html"><img src="assets/img/logo.png" alt="logo img" style="max-height: 100px; width: 100%;"></a>
              </div>
            
            </div>
            <div class="col-md-4" style="display: block;">   
            
              <div class="aa-search-box" style="width:100%; display: inline-flex; margin-right: 0px !important;" >
                <form  [formGroup]="formC" style="width:100%; display: inline-flex;">
                  <input type="text" name="" id="" placeholder="Recherche" style="padding:0px; padding-left: 10px;" formControlName="search" id="exampleInputEmail1">
                  <button type="submit" style="position:relative;"  (click)="recherche()"><span class="fa fa-search"></span></button>
                </form>
              </div>
              <!-- / search box -->             
      
              <div class="aa-logo"  style=" width: 100%;" >
                <a href="index.html"><img src="assets/img/logo2020.png" alt="logo img" style="max-height: 70px; width: 100%;"></a>
              </div>
      
      
            </div>
            
            <div class="col-md-4">   
             
              <!-- / logo  -->
              <div class="width-100" style="display:inline-flex; float:left;">
                <a href="index.html"><img class="width-100" src="assets/img/118521870_336917884167749_2855647134114029343_n.png" alt="logo img" style="max-height: 100px;"></a>
              </div>
            
              <app-navbar-panier></app-navbar-panier>
             
            </div>
            

          </div>  
        </div>
      </div>
    </div>
  </div>
</div>