<div class="modal-header">
    <h4 class="modal-title">Suppression Article</h4>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  
  
  <div class="modal-body">
     
      <label class="font-size-login" for="">Nom :<span style="font-weight: 400; margin-left: 10px;" *ngIf="article"> {{article.nom}}</span></label> <br>
      <label class="font-size-login" for="">Reference :<span style="font-weight: 400; margin-left: 10px;" *ngIf="article"> {{article.ref}}</span></label> <br>
      <label class="font-size-login" for="">Description :<span style="font-weight: 400; margin-left: 10px;" *ngIf="article"> {{article.description}}</span></label> <br>
      <label class="font-size-login" for="">Prix :<span style="font-weight: 400; margin-left: 10px;" *ngIf="article"> {{article.prix}}</span></label> <br>
     
      <div  style="margin-bottom: 20px; margin-top:50px; float:right; ">
         <button class="aa-browse-btn font-size-login" type="button" (click)="activeModal.dismiss('Cross click')" style="margin-right: 10px;">Annuler</button>
         <button class="aa-browse-btn font-size-login" type="button" (click)="supprimer()" >Supprimer Article</button>
       
      </div>
      <br>  
      
  </div>
