

<section id="carousel">
    <div class="content">
      <div class="row">
        <div class="col-md-12">

          <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img src="assets/img/Sans titre - 1-1 copie.jpg" class="style-image">
              </div>
              <div class="carousel-item">
                <img src="assets/img/Sans titre - 1-2 copie.jpg" class="style-image">
              </div>
              <div class="carousel-item">
                <img src="assets/img/Slider 2cade0-2 copie.jpg" class="style-image">
              </div>
              <div class="carousel-item">
                <img src="assets/img/Slider 2030-1.jpg"  class="style-image">
              </div>
              <div class="carousel-item">
                <img src="assets/img/Slider 2030-2.jpg"  class="style-image">
              </div>
              <div class="carousel-item">
                <img src="assets/img/Slider cos20-1 - Copie.jpg"  class="style-image">
              </div>
              <div class="carousel-item">
                <img src="assets/img/Slider porta-1.jpg"  class="style-image">
              </div>
              <div class="carousel-item">
                <img src="assets/img/Slider jouet 20202-2 copie.jpg"  class="style-image">
              </div>
              <div class="carousel-item">
                <img src="assets/img/Slider 20202-1.jpg"  class="style-image">
              </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>
          </div>

          </div>
      </div>
    </div>
  </section>

 <br>  <br>  <br>

  
<section>
  <div class="content">
    <div class="style-Titre" style="padding-bottom: 10px;">
      <!--bonde end -->  <h1 class="style-Titre-h1"> Top Catégories</h1>
      </div>
           <div class="row" style="margin-top: 50px;">
            <div class="col-md-3 col-sm-4 col-xs-12 single_portfolio_text style-galerie-1" *ngFor="let e of topCategories" >
              <img [src]="e.image" class="style-galerie-2" alt="" />
              <div class="portfolio_images_overlay text-center" style="height: 100%; overflow: hidden; padding:10px 10px;">
                <h6 class="clrd-font" style="font-size:22px; max-height: 150px;">{{e.nom}}</h6>
                <p class="clrd-font product_price" style="font-size:25px;"> {{e.prix}}DT</p>
                <a (click)="openDetailsArticle($event)" class="btn btn-primary" [id]="e.id">Acheter</a>
              </div>
         <!-- <a class="fancybox" rel="ligthbox" [href]="e.imageArrieur" target="_blank" >
                <div class="zoom"></div>
              </a>
              -->
            </div>
           </div>
  </div>
</section>

<!--amal end-->
  <section id="Soldes" style="padding-top: 100px;  min-height: 500px;"> <!--change-->
    <div class="content" style="margin-top: 30px;"> <!--change-->
        <div class="row"> <!--change-->
           <div class="col-md-12">
      <!--bonde begin --> <div class="style-Titre" style="padding-bottom: 10px;">
              <!--bonde end -->  <h1 class="style-Titre-h1">Nos offres </h1>
               </div>
            </div>
        </div>
    </div>
    <div class="content">
        
        <div class="row" style=" margin-top:30px; text-align: center; width:100%; margin: 0px;">
          <div class="col-lg-12" style=" margin-left: auto; margin-right: auto;">
            
            <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist" style="font-size: 15px; font-weight: bold; ">
                <li class="nav-item">
                  <a class="nav-link active" *ngIf="categorieParDefaut" [id]="'pills-'+categorieParDefaut.id+'-tab'" data-toggle="pill" [href]="'#pills-'+categorieParDefaut.id" role="tab"
                    [attr.aria-controls]="'pills-'+categorieParDefaut.id" aria-selected="true">{{categorieParDefaut.nom}}</a>
                </li>
                
                <li class="nav-item" *ngFor="let e of tabPromos">
                  <a class="nav-link" [id]="'pills-'+e.categorie.id+'-tab'" data-toggle="pill" [href]="'#pills-'+e.categorie.id" role="tab"
                    [attr.aria-controls]="'pills-'+e.categorie.id" aria-selected="false">{{e.categorie.nom}}</a>
                </li>
                
              </ul>
              <hr style="width: 100%;  height: 5px; background-color: #ff6666;">
                  
              <div class="tab-content" id="pills-tabContent" >
                
                <div *ngIf="categorieParDefaut" class="tab-pane fade show active" [id]="'pills-'+categorieParDefaut.id" role="tabpanel" [attr.aria-labelledby]="'pills-'+categorieParDefaut.id+'-tab'" >
                    
                   
                    <div class="aa-product-catg-body"   >
                        <ul class="aa-product-catg" style="margin:8px auto !important;" *ngIf="promosParDefaut">
                          
                          <li *ngFor="let e of promosParDefaut" style="overflow: visible;" class="item-populaires style-item-accueil">
                            <app-article [article]="e"> </app-article>  
                          </li>
                
                       </ul>
                    </div>           
                </div>
              

                <div *ngFor="let e of tabPromos" class="tab-pane fade" [id]="'pills-'+e.categorie.id" role="tabpanel" [attr.aria-labelledby]="'pills-'+e.categorie.id+'-tab'">

                    <div class="aa-product-catg-body">
                        <ul class="aa-product-catg" style="margin:8px auto !important;">
                          
                           <li *ngFor="let l of e.promos" style="overflow: visible;" class="item-populaires style-item-accueil">
                              <app-article [article]="l"> </app-article>  
                          </li>
                
                       </ul>
                    </div>

                </div>
              </div>
        </div>
     </div>
     </div>
  </section>

  <section id="promotion" style="margin:30px 0px;" >
    <div class="content">
      <div class="row">
        <div class="col-md-12">
                <img class="d-block w-100" src="assets/img/118669951_2856035661308424_6450352846161430014_n.png" class="item-photo-promo">
        </div>
      </div>
    </div>
  </section>

  <br><br><br>
  <section id="populaire">
    
    <div class="content" style="margin-top: 30px;"> <!--change-->
      <div class="row" > <!--change-->
         <div class="col-md-12">
    <!--bonde begin --> <div class="style-Titre" style="padding-bottom: 10px;">
            <!--bonde end -->  <h1 class="style-Titre-h1">Nos populaires </h1>
             </div>
          </div>
      </div>
  </div>
    <div class="content">
        <div class="row">
            <div class="col-md-12">
                <div class="aa-product-catg-body"  >
                    <ul class="aa-product-catg" style="margin:8px auto !important;" >
                      
       
                      <li *ngFor="let e of populaires" style="overflow:visible;" class="item-populaires style-item-accueil">
                        <app-article [article]="e" ></app-article>  
                      </li>
              
                   </ul>
                </div>
               
            </div>
 
        </div>
    </div>

   
  </section>

<br> <br> <br> <br>

 <!-- Amal begin -->
 <app-events-component></app-events-component>
  