

<div class="modal-header">
  <h4 class="modal-title">                
     Inscription
  </h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>


<div class="modal-body">
  <div class="row">
    <div class="col-md-12">
 
      <div *ngIf="isLoading" style="height: 200px;">
        <app-loading></app-loading>
     </div>
    
     <div *ngIf="!isLoading" >
 

    <div *ngIf="isBoutique" >
    
  <form [formGroup]="formB" class="aa-login-form" style="padding:20px;" (ngSubmit)="registerBoutique(formB.value)">

    <div class="row">
      <div class="col-md-6">
    
    <label class="font-size-login" for="">Nom</label>
    <input class="font-size-login" type="text" formControlName="nom"  id="exampleInputEmail1">
  
    <label  class="font-size-login"for="">Prénom</label>
    <input class="font-size-login" type="text" formControlName="prenom"  id="exampleInputEmail1">
    
    <label class="font-size-login" for="">Email<span>*</span></label>
    <input  class="font-size-login" type="text" formControlName="email"  id="exampleInputEmail1">
    
    <label class="font-size-login" for="">Mot de passe<span>*</span></label>
    <input class="font-size-login" type="password" formControlName="password"  id="exampleInputEmail1">
   
    <label class="font-size-login" for="">Téléphone</label>
    <input class="font-size-login" type="text" formControlName="telephone"  id="exampleInputEmail1">
   
    </div>
    <div class="col-md-6">

   
      <label class="font-size-login" for="">Nº carte d'identité </label>
      <input class="font-size-login" type="text" formControlName="NCarteIdentite"  id="exampleInputEmail1">
     
      <label  class="font-size-login" for="">nom Boutique </label>
      <input  class="font-size-login" type="text" formControlName="nomBoutique"  id="exampleInputEmail1">
      
      <label  class="font-size-login" for="">Adresse Boutique </label>
      <input  class="font-size-login" type="text" formControlName="adressBoutique"  id="exampleInputEmail1">
   
    <br>
    <div style="margin:10px 0px ;">
       <Input type="checkbox" value="true" id="withCommandes" (click)="changeRole()"> <span class="font-size-login"> Avec accée commandes </span>  
    </div>

    <label  class="font-size-login" for="">Categorie Boutique <span>*</span></label>
    
    <select  formControlName="categorieBoutique" style="margin-left:50px;" class="form-control form-control-lg" style="font-size:20px; height:40px !important; width: 80% !important;color:black;">
      <option value="informatique" [selected]="true" class="font-size-login" >informatique</option>
      <option value="librairie" class="font-size-login">librairie</option>
      <option value="Mode" class="font-size-login">Mode</option>
      <option value="Cosmétique" class="font-size-login">Cosmétique</option>
      <option value="Tissu" class="font-size-login">Tissu</option>
      <option value="Maison et Loisir" class="font-size-login">Maison et Loisir</option>
      <option value="Electroménager" class="font-size-login">Electroménager</option>
      <option value="Jouet" class="font-size-login">Jouet</option>
      <option value="Téléphonie" class="font-size-login">Téléphonie</option>
      <option value="Téléphonie" class="font-size-login">Cadeaux</option>
    
    </select>

    <button type="submit"  class="aa-browse-btn" style="margin-bottom: 20px;">Ajouter Fournisseur</button>                    
  </div>
</div>
  </form>

</div>

<div *ngIf="!isBoutique" >

<form [formGroup]="formC" class="aa-login-form" style="padding:20px;">

<div class="row">
   <div class="col-md-6">
       <label class="font-size-login" for="">Nom </label>
       <input class="font-size-login" type="text" formControlName="nom"  id="exampleInputEmail1">

       <label  class="font-size-login"for="">Prénom </label>
       <input class="font-size-login" type="text" formControlName="prenom"  id="exampleInputEmail1">
       
       <label class="font-size-login" for="">Email<span>*</span></label>
       <input  class="font-size-login" type="text" formControlName="email"  id="exampleInputEmail1">
       
       <label class="font-size-login" for="">Mot de passe<span>*</span></label>
       <input class="font-size-login" type="password" formControlName="password"  id="exampleInputEmail1">
       
       <label class="font-size-login" for="">Nº carte d'identité </label>
       <input class="font-size-login" type="text" formControlName="NCarteIdentite"  id="exampleInputEmail1">
      
  </div>

  <div class="col-md-6">

     <label class="font-size-login" for="">Télephone</label>
     <input class="font-size-login" type="text" formControlName="telephone"  id="exampleInputEmail1">
     
     <label class="font-size-login" for="">Ville <span>*</span></label>
     <input class="font-size-login" type="text" formControlName="ville"  id="exampleInputEmail1">
     
     <label class="font-size-login" for="">Pays </label>
     <input class="font-size-login" type="text" formControlName="pays"  id="exampleInputEmail1">
    
     <label class="font-size-login" for="">Adresse</label>
     <input class="font-size-login" type="text" formControlName="adresse"  id="exampleInputEmail1">
    
     <button type="submit" (click)="register()"  class="aa-browse-btn" style="margin-bottom: 20px; float:right;">Inscrire</button>                    
  </div>
</div>
</form>

</div>
</div>
</div>
</div>
  
</div>

 

<!--

<section id="aa-myaccount">
   <div class="container">
     <div class="row">
       <div class="col-md-12">
        <div class="aa-myaccount-area">         
            <div class="row">
              <div class="col-md-6">
                <div class="aa-myaccount-register" style="padding:20px; border-style: dashed;  border-color: green;">                 
                 <h4>Inscription Client</h4>
                
                 <form [formGroup]="formC" class="aa-login-form" style="padding:20px;">
                    
                    <label for="">Nom<span>*</span></label>
                    <input type="text" formControlName="nom"  id="exampleInputEmail1">
                  
                    <label for="">Prénom<span>*</span></label>
                    <input type="text" formControlName="prenom"  id="exampleInputEmail1">
                    
                    <label for="">Email<span>*</span></label>
                    <input type="text" formControlName="email"  id="exampleInputEmail1">
                    
                    <label for="">Mot de passe<span>*</span></label>
                    <input type="password" formControlName="password"  id="exampleInputEmail1">
                   
                    <label for="">Télephone<span>*</span></label>
                    <input type="text" formControlName="telephone"  id="exampleInputEmail1">
                    
                    <label for="">Nº carte d'identité <span>*</span></label>
                    <input type="text" formControlName="NCarteIdentite"  id="exampleInputEmail1">
                    
                    <label for="">Adresse <span>*</span></label>
                    <input type="text" formControlName="adresse"  id="exampleInputEmail1">
                  
                    <button type="submit" (click)="register()"  class="aa-browse-btn">Ajouter Client</button>                    
                  </form>
                </div>
              </div>
              <div class="col-md-6" >
                <div class="aa-myaccount-register" style="padding:20px; border-style: dashed;  border-color: red;">                 
                 <h4>Inscription Boutique</h4>
                
                 <form [formGroup]="formC" class="aa-login-form" style="padding:20px;">
                    
                    <label for="">Nom de boutique<span>*</span></label>
                    <input type="text" formControlName="nomBoutique"  id="exampleInputEmail1">
                  
                    <label for="">Nom de responsable<span>*</span></label>
                    <input type="text" formControlName="nomResponsable"  id="exampleInputEmail1">
                    
                    <label for="">Email<span>*</span></label>
                    <input type="text" formControlName="email"  id="exampleInputEmail1">
                    
                    <label for="">Télephone<span>*</span></label>
                    <input type="text" formControlName="telephone"  id="exampleInputEmail1">
                    
                    <label for="">Nº carte d'identité <span>*</span></label>
                    <input type="text" formControlName="Ncarte"  id="exampleInputEmail1">
                  
                    <label for="">Adresse <span>*</span></label>
                    <input type="text" formControlName="adress"  id="exampleInputEmail1">
                  
                    <br>
                    <label for="">Categorie de boutique<span>*</span></label>
                    
                    <select  formControlName="categorie" style="margin-left:50px;">
                      <option value="1">informatique</option>
                      <option value="2">cosmétique</option>
                      <option value="2">librairie</option>
                    </select>
                    <br>

                    <button type="submit" (click)="ajout()"  class="aa-browse-btn">Ajouter Boutique</button>                    
                  </form>
                </div>
              </div>
              
            </div>          
         </div>
       </div>
     </div>
   </div>
  </section>
  -->